<div class="section section-white">
<div class="container">
<div class="row">
<div class="col-xs-6">
  <div class="row-fluid">
    <h4 class="text-info well" style="display:block;text-align:center">
      本期开奖结果
    </h4>
  </div>

<% if @grids.length > 0 %>
  <div class="row last-div">
    <div class="col-xs-12">
    <ul class="" style="width: 300px;">
      <li style="float: left;">
        <%= image_tag("#{@grids[0].x1}.png", class: "img-responsive last-img") %>
      </li>
      <li style="float: left; display: inline;">
        <%= image_tag("#{@grids[0].x2}.png", class: "img-responsive last-img") %>
      </li>
      <li style="float: left;display: inline;">
        <%= image_tag("#{@grids[0].x3}.png", class: "img-responsive last-img") %>
      </li>
        </ul>
    </div>

    <div class="col-xs-12">
      <ul class="" style="width: 300px;">
      <li style="float: left;/* display: none; */">
          <%= image_tag("#{@grids[0].y1}.png", class: "img-responsive last-img") %>
      </li>
      <li style="float: left;display: inline;">
          <%= image_tag("#{@grids[0].y2}.png", class: "img-responsive last-img") %>
      </li>
      <li style="float: left;display: inline;">
          <%= image_tag("#{@grids[0].y3}.png", class: "img-responsive last-img") %>
      </li>
      </ul>
    </div>

    <div class="col-xs-12">
      <ul class="" style="width: 300px;">
      <li style="float: left;/* display: none; */">
          <%= image_tag("#{@grids[0].z1}.png", class: "img-responsive last-img") %>
      </li>
      <li style="float: left;display: inline;">
          <%= image_tag("#{@grids[0].z2}.png", class: "img-responsive last-img") %>
      </li>
      <li style="float: left;display: inline;">
          <%= image_tag("#{@grids[0].z3}.png", class: "img-responsive last-img") %>
      </li>
      </ul>
    </div>
  </div>
<%end%>
<div class="row-fluid text-center">
  <h4 class="text-info well" style="display:block;text-align:center">
    前三期开奖记录
  </h4>
</div>
<div class="row-fluid">
  <% for i in 1..3 %>
  <% if @grids.length > i %>
  <div class="col-xs-4">
    <div class="row-fluid last-div2">
      <div class="span12" style="text-align: center;">
        第120期
      </div>
      <div class="" style="display:block;text-align:center">
        <ul style="width: 120px;">
          <li style="float: left;">
            <%= image_tag("#{@grids[i].x1}.png", class: "img-responsive last-img2") %>
          </li>
          <li style="float: left;">
            <%= image_tag("#{@grids[i].x2}.png", class: "img-responsive last-img2") %>
          </li>
          <li style="float: left;">
            <%= image_tag("#{@grids[i].x3}.png", class: "img-responsive last-img2") %>
          </li>
        </ul>
      </div>
      <div class="" style="display:block;text-align:center">
        <ul style="width: 120px;">
          <li style="float: left;">
            <%= image_tag("#{@grids[i].y1}.png", class: "img-responsive last-img2") %>
          </li>
          <li style="float: left;">
            <%= image_tag("#{@grids[i].y2}.png", class: "img-responsive last-img2") %>
          </li>
          <li style="float: left;">
            <%= image_tag("#{@grids[i].y3}.png", class: "img-responsive last-img2") %>
          </li>
        </ul>
      </div>
      <div class="" style="display:block;text-align:center">
        <ul style="width: 120px;">
          <li style="float: left;">
            <%= image_tag("#{@grids[i].z1}.png", class: "img-responsive last-img2") %>
          </li>
          <li style="float: left;">
            <%= image_tag("#{@grids[i].z2}.png", class: "img-responsive last-img2") %>
          </li>
          <li style="float: left;">
            <%= image_tag("#{@grids[i].z3}.png", class: "img-responsive last-img2") %>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <% end %>
  <% end %>
  </div>
</div>
<div class="col-xs-6">
<div class="row">
<h4 class="text-info well" style="display:block;text-align:center">
    距离第123期 还有98秒开奖
</h4>
</div>
<div class="row">
<div class="col-xs-6">
<div class="form-group">
<div class=""> 
<label class="radio-inline nofull default left" for="radios-0">
  <input type="radio" class="iCheck" name="iCheck" id="iCheck" value="1" checked="checked">横一</label> 
<label class="radio-inline" for="radios-1">
  <input type="radio" name="iCheck" id="radios-1" value="2">横二</label> 
<label class="radio-inline" for="radios-2">
  <input type="radio" name="iCheck" id="radios-2" value="3">横三</label> 
</div>
</div>
<div class=""> 
<label class="radio-inline nofull default left" for="radios-3">
  <input type="radio" name="iCheck" id="radios-3" value="4">竖一</label> 
<label class="radio-inline" for="radios-4">
  <input type="radio" name="iCheck" id="radios-4" value="5">竖二</label> 
<label class="radio-inline" for="radios-5">
  <input type="radio" name="iCheck" id="radios-5" value="6">竖三</label> 
</div>
</div>

<div class="col-xs-6"> 
<div class="form-group">
<div class=""> 
<%if @gridconfigs[i].gridtype == 1 %>
<% elsif @gridconfigs[i].gridtype == 2 %>
<% tt = "d" %>
<% elsif @gridconfigs[i].gridtype == 3 %>
<% elsif @gridconfigs[i].gridtype == 4 %>
<% elsif @gridconfigs[i].gridtype == 5 %>
<% end %>

<% for i in 0..2 %> 
  <label class="radio-inline" for=<%= "radios_#{i+1}"%>>
<% if i == 0 %>
  <input type="radio" name="radios" id=<%= "radios_#{i+1}" %> value=<%= "#{i+1}" %> check="checked" >
<% else %>
  <input type="radio" name="radios" id=<%= "radios_#{i+1}" %> value=<%= "#{i+1}" %>>
<% end %>

  <%if @gridconfigs[i].gridtype == 1 %>豹子<% elsif @gridconfigs[i].gridtype == 2 %>顺子
  <% elsif @gridconfigs[i].gridtype == 3 %>小牌
  <% elsif @gridconfigs[i].gridtype == 4 %>大牌<% elsif @gridconfigs[i].gridtype == 5 %>同色
  <% end %>
  (<%= @gridconfigs[i].mulbability %>)

<% end %>

</div>
</div>  
<div class="form-group">
<div class="">
<% for i in 3..4 %>
  <label class="radio-inline" for=<%= "radios_#{i+1}"%>>
  <input type="radio" name="radios" id=<%= "radios_#{i+1}" %> value=<%= "#{i+1}" %>>

  <%if @gridconfigs[i].gridtype == 1 %>豹子<% elsif @gridconfigs[i].gridtype == 2 %>顺子
  <% elsif @gridconfigs[i].gridtype == 3 %>小牌
  <% elsif @gridconfigs[i].gridtype == 4 %>大牌<% elsif @gridconfigs[i].gridtype == 5 %>同色
  <% end %>
  (<%= @gridconfigs[i].mulbability %>)

<% end %>
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-xs-12">
    <div class="row">
        <div class="col-xs-4">
            <div class="input-group">
           <input type="text" class="form-control">
           <span class="input-group-btn">
          <button class="btn btn-default" type="button">添加</button>
       </span>
    </div>
    </div>
    <div class="col-xs-8" style="padding-top:1px; margin-left:0px;">
        <div class="btn-group">
            <button type="button" class="btn btn-primary">0.1倍</button>
            <button type="button" class="btn btn-primary">0.5倍</button>
            <button type="button" class="btn btn-primary">1.2倍</button>
            <button type="button" class="btn btn-primary">2倍</button>
            <button type="button" class="btn btn-primary">5倍</button>
            <button type="button" class="btn btn-primary">10倍</button>
        </div>
    </div>
</div>
<p>&nbsp;</p>
<div class="row">
    <div class="well" style="display:block;text-align:center">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>编号</th>
                    <th>位置</th>
                    <th>模式</th>
                    <th>金币</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>横一</td>
                    <td>顺子</td>
                    <td>1000</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>横一</td>
                    <td>顺子</td>
                    <td>1000</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>横一</td>
                    <td>顺子</td>
                    <td>1000</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>横一</td>
                    <td>顺子</td>
                    <td>1000</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>横一</td>
                    <td>顺子</td>
                    <td>1000</td>
                </tr>
            </tbody>
              </table>
              <button class="btn btn-primary" type="button">投注</button>
              <button class="btn btn-primary" type="button">清空</button>
          </div>
      </div>
  </div>
</div>
</div>
</div>
</div>
</div>