<%= content_for :script do %>
$(document).ready(
  function(){
    setInterval(countdown, 1000)
  });

  function countdown() {
    var label = document.getElementById("leftSconds");
    var newSeconds = parseInt(label.innerText) - 1;
    if (newSeconds <= 0) {
      location.reload();
    }
    if (!isNaN(newSeconds)) {
      label.innerHTML = newSeconds;
    }
  }
$('.btn-primary').click(function(e){
    e.preventDefault();
    
    fieldValue = $(this).attr('value');
    var input = $("input[name='traceslogs[coin]']");
    var currentVal = parseFloat(input.val());
    if (!isNaN(currentVal)) {

        var newVal = currentVal * fieldValue;
        if (newVal < 1.1) {
          newVal = 1
        }
        if(newVal < input.attr('max')) {
          input.val((newVal).toFixed(0)).change();
        } else {
          input.val(input.attr('max'))
        }
    } else {
        input.val(0);
    }
});
$('.input-primary').focusin(function(){
   $(this).data('oldValue', $(this).val());
});
$('.input-primary').change(function() {
    
    maxValue = $(this).attr('max');
    valueCurrent = $(this).val();
    
    name = $(this).attr('name');
    if(valueCurrent <= maxValue) {
        $(this).val($(this).data('oldValue'));
    }
});
<% end %>

<div class="section section-white">
<div class="container">
<div class="row">
<div class="col-xs-6">
  <div class="row-fluid">
    <h4 class="text-info well" style="display:block;text-align:center">
      本期开奖结果
    </h4>
  </div>

<% if @grids.length > 0 %>
  <div class="row last-div">
    <div class="col-xs-12">
    <ul class="" style="width: 300px;">
      <li style="float: left;">
        <%= image_tag("#{@grids[@grids.length-1].x1}.png", class: "img-responsive last-img") %>
      </li>
      <li style="float: left; display: inline;">
        <%= image_tag("#{@grids[@grids.length-1].x2}.png", class: "img-responsive last-img") %>
      </li>
      <li style="float: left;display: inline;">
        <%= image_tag("#{@grids[@grids.length-1].x3}.png", class: "img-responsive last-img") %>
      </li>
        </ul>
    </div>

    <div class="col-xs-12">
      <ul class="" style="width: 300px;">
      <li style="float: left;/* display: none; */">
          <%= image_tag("#{@grids[@grids.length-1].y1}.png", class: "img-responsive last-img") %>
      </li>
      <li style="float: left;display: inline;">
          <%= image_tag("#{@grids[@grids.length-1].y2}.png", class: "img-responsive last-img") %>
      </li>
      <li style="float: left;display: inline;">
          <%= image_tag("#{@grids[@grids.length-1].y3}.png", class: "img-responsive last-img") %>
      </li>
      </ul>
    </div>

    <div class="col-xs-12">
      <ul class="" style="width: 300px;">
      <li style="float: left;/* display: none; */">
          <%= image_tag("#{@grids[@grids.length-1].z1}.png", class: "img-responsive last-img") %>
      </li>
      <li style="float: left;display: inline;">
          <%= image_tag("#{@grids[@grids.length-1].z2}.png", class: "img-responsive last-img") %>
      </li>
      <li style="float: left;display: inline;">
          <%= image_tag("#{@grids[@grids.length-1].z3}.png", class: "img-responsive last-img") %>
      </li>
      </ul>
    </div>
  </div>
<%end%>
<div class="row-fluid text-center">
  <h4 class="text-info well" style="display:block;text-align:center">
    前三期开奖记录
  </h4>
</div>
<div class="row-fluid">
  <% for i in 0..2 %>
  <% if @grids.length > i %>
  <div class="col-xs-4">
    <div class="row-fluid last-div2">
      <div class="span12" style="text-align: center;">
        第<%= @grids[i].id %>期
      </div>
      <div class="" style="display:block;text-align:center">
        <ul style="width: 120px;">
          <li style="float: left;">
            <%= image_tag("#{@grids[i].x1}.png", class: "img-responsive last-img2") %>
          </li>
          <li style="float: left;">
            <%= image_tag("#{@grids[i].x2}.png", class: "img-responsive last-img2") %>
          </li>
          <li style="float: left;">
            <%= image_tag("#{@grids[i].x3}.png", class: "img-responsive last-img2") %>
          </li>
        </ul>
      </div>
      <div class="" style="display:block;text-align:center">
        <ul style="width: 120px;">
          <li style="float: left;">
            <%= image_tag("#{@grids[i].y1}.png", class: "img-responsive last-img2") %>
          </li>
          <li style="float: left;">
            <%= image_tag("#{@grids[i].y2}.png", class: "img-responsive last-img2") %>
          </li>
          <li style="float: left;">
            <%= image_tag("#{@grids[i].y3}.png", class: "img-responsive last-img2") %>
          </li>
        </ul>
      </div>
      <div class="" style="display:block;text-align:center">
        <ul style="width: 120px;">
          <li style="float: left;">
            <%= image_tag("#{@grids[i].z1}.png", class: "img-responsive last-img2") %>
          </li>
          <li style="float: left;">
            <%= image_tag("#{@grids[i].z2}.png", class: "img-responsive last-img2") %>
          </li>
          <li style="float: left;">
            <%= image_tag("#{@grids[i].z3}.png", class: "img-responsive last-img2") %>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <% end %>
  <% end %>
  </div>
</div>
<div class="col-xs-6">
<div class="row">
<h4 class="text-info well" nexttime="<%= "#{@nexttime}" %>" style="display:block;text-align:center">
    距离第<%= @nextbar %>期 还有<font color="red"><label id="leftSconds"><%= @seconds %></label></font>秒开奖
</h4>
</div>
<div class="row">
<div class="col-xs-6">
<div class="form-group">
<div class=""> 
<%= form_for :traceslogs, url: {controller: "tracelogs", action: "create"}, method: :post, remote: true do |f| %>
<% for i in 0..2 %>
<label class="radio-inline" for=<%= "main_pos_#{i+1}" %>>
<% if i == 0 %>
  <%= f.radio_button :pos, i+1, :checked => true %>
<% else %>
  <%= f.radio_button :pos, i+1 %>
<% end %>
<%if i == 0 %>横一<% elsif i == 1 %>横二<% elsif i == 2 %>横三<% end %>
</label>
<% end %>
</div>
</div>

<div class=""> 
<% for i in 3..5 %>
<label class="radio-inline" for=<%= "main_pos_#{i+1}" %>>
  <%= f.radio_button :pos, i+1 %>
<%if i == 3 %>竖一<% elsif i == 4 %>竖二<% elsif i == 5 %>竖三<% end %>
</label>
<% end %>
</div>
</div>

<div class="col-xs-6"> 
<div class="form-group">
<div class=""> 

<% for i in 0..2 %> 
  <label class="radio-inline" for=<%= "main_gametype_#{i+1}"%>>
<% if i == 0 %>
  <%= f.radio_button :gametype, i+1, :checked => true %>
<% else %>
  <%= f.radio_button :gametype, i+1 %>
<% end %>

  <%if @gridconfigs[i].gridtype == 1 %>豹子<% elsif @gridconfigs[i].gridtype == 2 %>顺子
  <% elsif @gridconfigs[i].gridtype == 3 %>小牌
  <% elsif @gridconfigs[i].gridtype == 4 %>大牌<% elsif @gridconfigs[i].gridtype == 5 %>同色
  <% end %>
  (<%= @gridconfigs[i].mulbability %>)

<% end %>

</div>
</div>  
<div class="form-group">
<div class="">
<% if @error %>
<div class="alert alert-success page-alert" id="alert-1">
    <button type="button" class="close"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
    <%= @error %>
</div>
<% end %>
<% for i in 3..4 %>
  <label class="radio-inline" for=<%= "radios_#{i+1}"%>>
  <%= f.radio_button :gametype, i+1 %>

  <%if @gridconfigs[i].gridtype == 1 %>豹子<% elsif @gridconfigs[i].gridtype == 2 %>顺子
  <% elsif @gridconfigs[i].gridtype == 3 %>小牌
  <% elsif @gridconfigs[i].gridtype == 4 %>大牌<% elsif @gridconfigs[i].gridtype == 5 %>同色
  <% end %>
  (<%= @gridconfigs[i].mulbability %>)

<% end %>
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-xs-12">
  <div class="row">
    <div class="col-xs-4">
      <div class="input-group">
       <%= f.text_field :coin, class:"form-control", value:"100", max:@user.coin %>
       <span class="input-group-btn">
       <%= f.submit "添加", class: "btn btn-default" %>
      <% end %>
     </span>
    </div>
    </div>
    <div class="col-xs-8" style="padding-top:1px; margin-left:0px;">
        <div class="btn-group">
            <button type="button" class="btn btn-primary" value="0.1">0.1倍</button>
            <button type="button" class="btn btn-primary" value="0.5">0.5倍</button>
            <button type="button" class="btn btn-primary" value="1.2">1.2倍</button>
            <button type="button" class="btn btn-primary" value="2">2倍</button>
            <button type="button" class="btn btn-primary" value="5">5倍</button>
            <button type="button" class="btn btn-primary" value="10">10倍</button>
        </div>  
    </div>
</div>

<div class="row">
  <div class="well" style="display:block;text-align:center" id = "time_div">
      <%= render :partial => 'tracelogs/create' %>
  </div>
  <%= form_for :traceslogs, url: {controller: "tracelogs", action: "commitdata"}, method: :post, remote: true do |f| %>
    <%= f.submit '投注', :class => 'btn left-button'%>
  <% end %>
    <%= button_to '清空', {controller: "tracelogs", action: "canceldata"}, :class => 'btn right-button', remote: true%>

</div>
</div>
</div>
</div>
</div>
</div>
</div>