<% content_for :menus do %>
    <li class=hover data-tag="idx">
        <%= link_to '幸运九宫格', controller: 'main', action: 'index' %>
    </li>
    <li  data-tag="kj">
        <%= link_to '历史开奖号码', controller: 'mainhistory', action: 'index' %>
    </li>
    <li  data-tag="zhl">
        <%= link_to '单选盘', controller: 'singlegame', action: 'index' %>
    </li>
    <li  data-tag="dshl">
        <%= link_to '组合盘', controller: 'combinationgame', action: 'index' %>
    </li>
    <li   data-tag="sxpl">
        <%= link_to '双面盘', controller: 'doublegame', action: 'index' %>
    </li>
    <li   data-tag="kjs">
        <%= link_to '九宫格开奖直播', controller: 'flashview', action: 'index' %>
    </li>
    <li    data-tag="mfc">
        <a href="#">免费参考</a>
    </li>
<% end %>


<div class="index-head">
            <a class="banner" href="/kl9/shipin/" title="北京幸运九宫格视频">
                <img src=<%= image_url("kl8-index.png") %> alt="北京幸运九宫格视频">
            </a>
            <div class="trend">
                <div class="l-title">
                    <h2>
                        北京幸运九宫格玩法技巧</h2>
                             <div class="fontAd fontWidth01">
        </div>
                  <a href="/jiqiao/kl9/">更多>></a>
                </div>
                    <div class="skill">
                        <h1>
                            <a href="/jiqiao/kl9/63537.html">九宫格赢钱心法大公开</a>
                        </h1>
                        <p>　　幸运九宫格快了就发，这个名字听起来真好，但是玩起来真的是这样吗?这个倒未必，能不…</p>
                        <ul>
                                <li><a href="/jiqiao/kl9/63525.html" target="_blank">·幸运九宫格技巧之上中下是如何赢钱的</a>
                                </li>
                                <li><a href="/jiqiao/kl9/63348.html" target="_blank">·幸运九宫格技巧之精品玩法分享案例</a>
                                </li>
                                <li><a href="/jiqiao/kl9/63342.html" target="_blank">·北京幸运九宫格技巧之最划算的赚钱法</a>
                                </li>
                                <li><a href="/jiqiao/kl9/63331.html" target="_blank">·北京幸运九宫格技巧之快速购奖两技巧</a>
                                </li>
                                <li><a href="/jiqiao/kl9/63320.html" target="_blank">·北京幸运九宫格之常态组合给购彩的一些提示</a>
                                </li>
                                <li><a href="/jiqiao/kl9/63312.html" target="_blank">·北京幸运九宫格技巧之含羞概率出现法</a>
                                </li>
                                <li><a href="/jiqiao/kl9/63305.html" target="_blank">·北京幸运九宫格技巧之旋转矩形法</a>
                                </li>
                        </ul>
                    </div>

            </div>
            <div class="clear">
            </div>
        </div>
        <div class="w980">

        </div>

      
        <div class="index-history">
            <div class="title mt10">
                <h2>
                    北京幸运九宫格开奖记录</h2>
                         <div class="fontAd fontWidth02">
        </div>       
        <a href="/kl9/kaijiang/">查看全部>></a>
            </div>
            <table class="lot-table" id="history">
                <tr class="head">
                    <td width="180px">
                        时间
                    </td>
                    <td>
                        开奖号码
                    </td>
                    <td style="width: 60px; text-align: center;">
                        单/双
                    </td>
                    <td style="width: 60px; text-align: center;">
                        大/小
                    </td>
                    <td style="width: 60px; text-align: center;">
                        总和
                    </td>
                    <td style="width: 60px; text-align: center;">
                        五行
                    </td>
                </tr>
                <% if @gridlogs %>
                <% @gridlogs.each do |log| %>
                <tr class='even'>
                    <td>
                        <p class="p"><%=log.gameid%></p>
                        <p class="t"><%=Time.parse(log.time.to_s).strftime("%m-%d %H:%M")%></p>
                    </td>
                    <td class="nums">
                    <i class=<%= "lot-no#{(log.x1+1).to_s.rjust(2, '0')}" %>></i>                
                    <i class=<%= "lot-no#{(log.x2+1).to_s.rjust(2, '0')}" %>></i>                
                    <i class=<%= "lot-no#{(log.x3+1).to_s.rjust(2, '0')}" %>></i>                
                    <i class=<%= "lot-no#{(log.y1+1).to_s.rjust(2, '0')}" %>></i>                
                    <i class=<%= "lot-no#{(log.y2+1).to_s.rjust(2, '0')}" %>></i>                
                    <i class=<%= "lot-no#{(log.y3+1).to_s.rjust(2, '0')}" %>></i>                
                    <i class=<%= "lot-no#{(log.z1+1).to_s.rjust(2, '0')}" %>></i>                
                    <i class=<%= "lot-no#{(log.z2+1).to_s.rjust(2, '0')}" %>></i>                 
                    <i class=<%= "lot-no#{(log.z3+1).to_s.rjust(2, '0')}" %>></i>                 
                    </td>
                    <td>
                    <p><%if (log.x1+log.x2+log.x3+log.y1+log.y2+log.y3+log.z1+log.z2+log.z3)%2 == 0%>
                    双<%else%>单<%end%></p>
                    </td>
                    <td>
                    <p><%if (log.x1+log.x2+log.x3+log.y1+log.y2+log.y3+log.z1+log.z2+log.z3) > 230 %>
                    大<%else%>小<%end%></p>
                    </td>
                    <td><%= log.x1+log.x2+log.x3+log.y1+log.y2+log.y3+log.z1+log.z2+log.z3 %>
                    </td>
                    <td><%= ['金','木','水','火','土'].sample %>
                    </td>
                </tr>
                <% end %>
                <% end %>
            </table>
            <div class="lot-about mt10" style="width: 980px;">
                <div class="l-title">
                    <h2>
                        关于北京幸运九宫格</h2>
                </div>
                <p>
                    北京幸运九宫格每日从早上10点至凌晨1点，每十分钟开奖一次，每日开奖90期。游戏玩法：由54张牌中随机摇出9个数字作为开奖号码，依这9个号码变化成各式不同的玩法，
                    在根据猜中的号码个数或玩法可以获得不同等级的奖金。
                </p>
            </div>
            <div class="clear">
            </div>
        </div>
        <div class="clear">
        </div>
    </div>
</div>
