<% content_for :menus do %>
    <li data-tag="idx">
        <%= link_to '幸运九宫格', controller: 'main', action: 'index' %>
    </li>
    <li data-tag="kj">
        <%= link_to '历史开奖号码', controller: 'mainhistory', action: 'index' %>
    </li>
    <li  data-tag="zhl">
        <%= link_to '单选盘', controller: 'singlegame', action: 'index' %>
    </li>
    <li  data-tag="dshl">
        <%= link_to '组合盘', controller: 'combinationgame', action: 'index' %>
    </li>
    <li   data-tag="sxpl">
        <%= link_to '双面盘', controller: 'doublegame', action: 'index' %>
    </li>
    <li class=hover data-tag="kjs">
        <%= link_to '九宫格开奖直播', controller: 'flashview', action: 'index' %>
    </li>
    <li    data-tag="mfc">
        <%= link_to '游戏记录', controller: 'traceresult', action: 'index' %>
    </li>
<% end %>

<%if @user%>
<% content_for :script do %>
var needdata = 1;
var firsted = 1;
var nextseconds = 0;
var nextnum = "";
var curlog = "";
var fixtime = 0;
var isok = 0;
$(document).ready(
    function(){
    setInterval(countdown, 1000);
  })
    function countdown() {
        var minute = document.getElementById("minute");
        var second = document.getElementById("second");
        var newSeconds = parseInt(second.innerText) - 1;
        var newMinute = parseInt(minute.innerText);
        if (newSeconds == 0 && newMinute > 0) {
          newMinute -= 1;
          newSeconds = 59;
        }
        if (newSeconds == 0 && newMinute == 0) {
          newSeconds = 59;
          newMinute = 9;
        }
        if (!isNaN(newMinute)) {
          minute.innerHTML = newMinute;
        }
        if (!isNaN(newSeconds)) {
          second.innerHTML = newSeconds;
        }
    }
function thisMovie(movieName) {
    if (window.document[movieName]) {
        return window.document[movieName];
    } else if (navigator.appName.indexOf("Microsoft Internet") == -1) {
        if (document.embeds && document.embeds[movieName]) return document.embeds[movieName];
    } else {
        return document.getElementById(movieName);
    }
}

$(document).ready(
  function(){
    setInterval(flash, 1000);
  });
  function flash(){
    if (needdata == 1){
      needdata = 0;
      $.ajax({
          url: 'jsondata',
          type: 'GET',
          dataType: 'json',
          error: function(json) {
            needdata = 1;
          },
          success: function(json) {

            if (firsted)
            {
              thisMovie('luck').nowLuck(json.curlog);
              thisMovie('luck').nowNum(json.nextnum);
              
              firsted = 0;
            }
            else
            {
              curlog = json.curlog;            
            }

            nextnum = json.nextnum;
            nextseconds = parseInt(json.seconds);
            isok = 1;
          }
        }
      )
    }
    else if (isok == 1)
    {
        if (nextseconds == 60)
        {
          thisMovie('luck').nowNum(nextnum);
          thisMovie('luck').reset();
        }
        else if (nextseconds == 0)
        {
          thisMovie('luck').startLuck();
          needdata = 1;
        }
        else if (nextseconds < 580 && curlog != "")
        {
          thisMovie('luck').nowLuck(curlog);
          curlog = "";
        }
        else if (nextseconds % 60 == 0)
        {
          fixtime = 1;
        }

        if (nextseconds > 0) nextseconds -= 1;
    }

    if (fixtime == 1){
      fixtime = 0;
      $.ajax({
          url: 'jsondata',
          type: 'GET',
          dataType: 'json',
          success: function(json) {
            nextseconds = parseInt(json.seconds);
          }
        }
      )
    }

    thisMovie('luck').countTime(nextseconds);
  };
<% end %>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<body>
<div id="div-id"></div>
<div id="avatar_priview" style="position:absolute;left:420px;"></div>

<div style="height:630px;">

<p>
  <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553520000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0" width="980" height="630">
    <param name="movie" value=<%= image_url("index.swf") %>>
    <param name="quality" value="high">
    <param name="bgcolor" value="#FFFFFF">
    
<embed width="980" height="630" align="middle"  pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" name="luck" bgcolor="#ffffff" quality="best" menu="false" loop="false" src=<%= image_url("index.swf") %> id="luck" allownetworking="all">
  </object>      
</p>
<br>
</p>
<p id="resultp"></p>
</div>
<%end%>
