<% content_for :menus do %>
    <li data-tag="idx">
        <%= link_to '幸运九宫格', controller: 'main', action: 'index' %>
    </li>
    <li data-tag="kj">
        <%= link_to '历史开奖号码', controller: 'mainhistory', action: 'index' %>
    </li>
    <li data-tag="zhl">
        <%= link_to '单选盘', controller: 'singlegame', action: 'index' %>
    </li>
    <li class=hover data-tag="dshl">
        <%= link_to '组合盘', controller: 'combinationgame', action: 'index' %>
    </li>
    <li data-tag="sxpl">
        <%= link_to '双面盘', controller: 'doublegame', action: 'index' %>
    </li>
    <li   data-tag="kjs">
        <%= link_to '九宫格开奖直播', controller: 'flashview', action: 'index' %>
    </li>
    <li    data-tag="mfc">
        <%= link_to '游戏记录', controller: 'traceresult', action: 'index' %>
    </li>
<% end %>

<% content_for :script do %>
$(".reccheck").blur(function(){
        var coinitems = document.getElementsByClassName("reccheck");
        var total = 0;
        for (i = 0; i < coinitems.length; i++)
        {
            coin = parseInt(coinitems[i].value)
            if (!isNaN(coin))
            total += coin
        }
        updateTotal(total);
    }
  );
$(".reccheck").focus(function(){
        var defaultcoin = document.getElementById("defaultcoin");
        var coin = defaultcoin.value
        this.value = coin
    }
);
function updateTotal(totalcoin){
        $("#coinTotal").text(totalcoin.toString());
        document.getElementById("cointotal").value = totalcoin;
}
<% end %>

<div class="lot-table" id="history">
<table class="lot-table" id="history">
    <tbody><tr class="head">
        <td width="180px">
            项目
        </td>
        <td>
            三筒
        </td>
        <td style="width: 60px; text-align: center;">
            同花
        </td>
        <td style="width: 60px; text-align: center;">
            顺子
        </td>
        <td style="width: 60px; text-align: center;">
            对子
        </td>
    </tr>
        <%= form_for :tracelogs, url: tracelogs_combination_path do |f| %>
        <tr class="even">
            <td>
                <p>横一</p>
            </td>
            <% @gridconfigs.each do |config| %>
            <td class="nums">
                <% if config.gridtype == 1 %>
                赔率:<font color="red"><%= config.mulbability %><%= f.text_field :flag1_1, class:"reccheck", size:6 %>
                <% elsif config.gridtype == 2 %>
                赔率:<font color="red"><%= config.mulbability %><%= f.text_field :flag1_2, class:"reccheck", size:6 %>
                <% elsif config.gridtype == 3 %>
                赔率:<font color="red"><%= config.mulbability %><%= f.text_field :flag1_3, class:"reccheck", size:6 %>
                <% else %>
                赔率:<font color="red"><%= config.mulbability %><%= f.text_field :flag1_4, class:"reccheck", size:6 %>
                <% end %>
            </td>
            <% end %>
        </tr>
        <tr class="even">
            <td>
                <p>横二</p>
            </td>
            <% @gridconfigs.each do |config| %>
            <td class="nums">
                <% if config.gridtype == 1 %>
                赔率:<font color="red"><%= config.mulbability %><%= f.text_field :flag2_1, class:"reccheck", size:6 %>
                <% elsif config.gridtype ==2 %>
                赔率:<font color="red"><%= config.mulbability %><%= f.text_field :flag2_2, class:"reccheck", size:6 %>
                <% elsif config.gridtype == 3 %>
                赔率:<font color="red"><%= config.mulbability %><%= f.text_field :flag1_3, class:"reccheck", size:6 %>
                <% else %>
                赔率:<font color="red"><%= config.mulbability %><%= f.text_field :flag1_4, class:"reccheck", size:6 %>
                <% end %>
            </td>
            <% end %>
        </tr>
        <tr class="even">
            <td>
                <p>横三</p>
            </td>
            <% @gridconfigs.each do |config| %>
            <td class="nums">
                <% if config.gridtype == 1 %>
                赔率:<font color="red"><%= config.mulbability %><%= f.text_field :flag3_1, class:"reccheck", size:6 %>
                <% elsif config.gridtype ==2 %>
                赔率:<font color="red"><%= config.mulbability %><%= f.text_field :flag3_2, class:"reccheck", size:6 %>
                <% elsif config.gridtype == 3 %>
                赔率:<font color="red"><%= config.mulbability %><%= f.text_field :flag1_3, class:"reccheck", size:6 %>
                <% else %>
                赔率:<font color="red"><%= config.mulbability %><%= f.text_field :flag1_4, class:"reccheck", size:6 %>
                <% end %>
            </td>
            <% end %>
        </tr>
        <tr class="even">
            <td>
                <p>竖一</p>
            </td>
            <% @gridconfigs.each do |config| %>
            <td class="nums">
                <% if config.gridtype == 1 %>
                赔率:<font color="red"><%= config.mulbability %><%= f.text_field :flag4_1, class:"reccheck", size:6 %>
                <% elsif config.gridtype ==2 %>
                赔率:<font color="red"><%= config.mulbability %><%= f.text_field :flag4_2, class:"reccheck", size:6 %>
                <% elsif config.gridtype == 3 %>
                赔率:<font color="red"><%= config.mulbability %><%= f.text_field :flag1_3, class:"reccheck", size:6 %>
                <% else %>
                赔率:<font color="red"><%= config.mulbability %><%= f.text_field :flag1_4, class:"reccheck", size:6 %>
                <% end %>
            </td>
            <% end %>
        </tr>
        <tr class="even">
            <td>
                <p>竖二</p>
            </td>
            <% @gridconfigs.each do |config| %>
            <td class="nums">
                <% if config.gridtype == 1 %>
                赔率:<font color="red"><%= config.mulbability %><%= f.text_field :flag5_1, class:"reccheck", size:6 %>
                <% elsif config.gridtype ==2 %>
                赔率:<font color="red"><%= config.mulbability %><%= f.text_field :flag5_2, class:"reccheck", size:6 %>
                <% elsif config.gridtype == 3 %>
                赔率:<font color="red"><%= config.mulbability %><%= f.text_field :flag1_3, class:"reccheck", size:6 %>
                <% else %>
                赔率:<font color="red"><%= config.mulbability %><%= f.text_field :flag1_4, class:"reccheck", size:6 %>
                <% end %>
            </td>
            <% end %>
        </tr>
        <tr class="even">
            <td>
                <p>竖三</p>
            </td>
            <% @gridconfigs.each do |config| %>
            <td class="nums">
                <% if config.gridtype == 1 %>
                赔率:<font color="red"><%= config.mulbability %><%= f.text_field :flag6_1, class:"reccheck", size:6 %>
                <% elsif config.gridtype ==2 %>
                赔率:<font color="red"><%= config.mulbability %><%= f.text_field :flag6_2, class:"reccheck", size:6 %>
                <% elsif config.gridtype == 3 %>
                赔率:<font color="red"><%= config.mulbability %><%= f.text_field :flag1_3, class:"reccheck", size:6 %>
                <% else %>
                赔率:<font color="red"><%= config.mulbability %><%= f.text_field :flag1_4, class:"reccheck", size:6 %>
                <% end %>
            </td>
            <% end %>
        </tr>
    </tbody>
    <tfoot>
        <tr><td colspan="7" align="center">
        <div><font color="green">快捷下注 金额:<input size="6" type="text" id="defaultcoin" style="margin-right:10px"/></font>
        总投注额:<span style="color:red;margin-right:10px" id="coinTotal">0</span>
        <%= f.hidden_field :totalcoin, id:"cointotal", value:0 %>
        <button type="button", style="height:20px;width:60px;margin-right:10px", onclick="reset()">重填</button>
        <%= f.submit "下注", style:"height:20px;width:60px"%>
        </div></td>
    </tfoot>
    <%end%>
</table>