<% content_for :menus do %>
    <li data-tag="idx">
        <%= link_to '幸运九宫格', controller: 'main', action: 'index' %>
    </li>
    <li data-tag="kj">
        <%= link_to '历史开奖号码', controller: 'mainhistory', action: 'index' %>
    </li>
    <li  data-tag="zhl">
        <%= link_to '单选盘', controller: 'singlegame', action: 'index' %>
    </li>
    <li  data-tag="dshl">
        <%= link_to '组合盘', controller: 'combinationgame', action: 'index' %>
    </li>
    <li   data-tag="sxpl">
        <%= link_to '双面盘', controller: 'doublegame', action: 'index' %>
    </li>
    <li   data-tag="kjs">
        <%= link_to '九宫格开奖直播', controller: 'flashview', action: 'index' %>
    </li>
    <li class=hover data-tag="mfc">
        <%= link_to '游戏记录', controller: 'traceresult', action: 'index' %>
    </li>
<% end %>

<%if @user and @user.level == 0%>
<% content_for :script do %>
$(document).ready(
    function(){
    setInterval(countdown, 1000);
  })
    function countdown() {
        var minute = document.getElementById("minute");
        var second = document.getElementById("second");
        var newSeconds = parseInt(second.innerText) - 1;
        var newMinute = parseInt(minute.innerText);
        if (newSeconds == 0 && newMinute > 0) {
          newMinute -= 1;
          newSeconds = 59;
        }
        if (newSeconds == 0 && newMinute == 0) {
          location.reload();
        }
        if (!isNaN(newMinute)) {
          minute.innerHTML = newMinute;
        }
        if (!isNaN(newSeconds)) {
          second.innerHTML = newSeconds;
        }
    }
<% end %>

<table class="lot-table" id="history">
    <tr class="head">
        <td style="width: 60px; text-align: center;">
            期数
        </td>
        <td style="width: 60px; text-align: center;">
            类型
        </td>
        <td style="width: 60px; text-align: center;">
            位置
        </td>
        <td style="width: 60px; text-align: center;">
            金币
        </td>
        <td style="width: 60px; text-align: center;">
            状态
        </td>
    </tr>
    <% if @gridlogs %>
    <% @gridlogs.reverse_each do |log| %>
    <tr class='even'>
        <td><p class="p"><%=log.gameid%></p></td>
        <% if log.maintype == 1 %>
            <% if log.gametype == 1 %>
                <td>三筒</td>
                <% elsif log.gametype == 2 %>
                <td>同色</td>
                <% elsif log.gametype == 3 %>
                <td>顺子</td>
                <% else %>
                <td>对子</td>
            <% end %>
        <% elsif log.maintype == 3 %>
            <% if log.gametype == 1 %>
                <td>大</td>
                <% elsif log.gametype == 2 %>
                <td>小</td>
            <% end %>
        <% elsif log.maintype == 4 %>
            <% if log.gametype == 1 %>
                <td>方</td>
            <% elsif log.gametype == 2 %>
                <td>红</td>
            <% elsif log.gametype == 3 %>
                <td>黑</td>
            <% elsif log.gametype == 4 %>
                <td>梅</td>
            <% end %>
        <% elsif log.maintype == 2 %>
            <% if log.gametype == 1 %>
                <td>A</td>
            <% elsif log.gametype == 2 %>
                <td>9</td>
            <% elsif log.gametype == 3 %>
                <td>10</td>
            <% elsif log.gametype == 4 %>
                <td>J</td>
            <% elsif log.gametype == 5 %>
                <td>Q</td>
            <% elsif log.gametype == 6 %>
                <td>K</td>
            <% else %>
                <td>error</td>
            <% end %>
        <%end%>
        
        <td><%= log.pos %></td>

        <% if log.status == 1 %>
            <td><font color="red">+<%= log.coin * log.mulbability %></font></td>
        <% elsif log.status == -1 %>
            <td><font color="green"><%= -log.coin %></font></td>
        <% else %>
            <td><%= log.coin %>
        <% end %>
        
        <td><% if log.status == 0 %>未开奖<%elsif log.status == 1 %>恭喜中奖<% else %> 未中奖 <% end %></td>
    </tr>
    <% end %>
    <% end %>
</table>
<%end%>
<div class="lot-about mt10" style="width: 980px;">
    <div class="l-title">
        <h2>
            关于北京幸运九宫格</h2>
    </div>
    <p>
        北京幸运九宫格每日从早上10点至凌晨1点，每十分钟开奖一次，每日开奖90期。游戏玩法：由54张牌中随机摇出9个数字作为开奖号码，依这9个号码变化成各式不同的玩法，
        在根据猜中的号码个数或玩法可以获得不同等级的奖金。
    </p>
</div>
