<%= form_for :user do |f| %>
  <% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %>:</h2>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p>
    <%= f.label :account, '账号:' %><br>
    <%= f.text_field :account %>
  </p>

  <p>
    <%= f.label :password, '密码:' %><br>
    <%= f.text_field :password %>
  </p>
 
  <p>
    <%= f.label :nickname, '昵称:' %><br>
    <%= f.text_field :nickname %>
  </p>
 
  <p>
    <%= f.label :coin, '金币:' %><br>
    <%= f.text_field :coin %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>