<% content_for :head do %>
  <%= stylesheet_link_tag 'dataTables.responsive', 'data-turbolinks-eval' => true %>
  <%= stylesheet_link_tag 'dataTables.bootstrap', 'data-turbolinks-eval' => true %>
  <%= javascript_include_tag 'jquery.dataTables.min', 'data-turbolinks-eval' => true %>
  <%= javascript_include_tag 'dataTables.bootstrap.min', 'data-turbolinks-eval' => true %>
<% end %>

<div class="row">
<div class="col-lg-12">
    <h1 class="page-header"></h1>
</div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                用户资料
            </div>
            <%= form_for @user, url: {action: "create"}, method: :post do |f| %>
			  <% if @user.errors.any? %>
			  <div id="error_explanation">
			    <h2><%= pluralize(@user.errors.count, "error") %>:</h2>
			    <ul>
			    <% @user.errors.full_messages.each do |msg| %>
			      <li><%= msg %></li>
			    <% end %>
			    </ul>
			  </div>
			  <% end %>
			  <p>
			    <label>上级代理:</label> <%=@admin.account%> <font color="blue">上级余额: <%=@admin.coin%></font>
			  </p>
			  <p>
			    <%= f.label :account, '会员账号:' %>
			    <%= f.text_field :account, class:"form-control", placeholder:"会员账号" %>
			  </p>
			  <p>
			    <%= f.label :password, '登录密码:' %>
			    <%= f.text_field :password, class:"form-control", placeholder:"登录密码" %>
			  </p>
			  <p>
			    <%= f.label :nickname, '会员名称:' %>
			    <%= f.text_field :nickname, class:"form-control", placeholder:"会员名称" %>
			  </p>
			  <p>
			    <%= f.label :coin, '信用额度:' %>
			    <%= f.text_field :coin, class:"form-control", placeholder:"信用额度", value:"5000"%>
			  </p>
			  <p>
			    <%= f.label :lowerlimit, '每日上限:' %>
			    <%= f.text_field :lowerlimit, class:"form-control", placeholder:"下限", value:"1" %>
			  </p>
			  <p>
			    <%= f.label :upperlimit, '每注下限:' %>
			    <%= f.text_field :upperlimit, class:"form-control", placeholder:"下限", value:"10000" %>
			  </p>
			  <p>
			  	<%= f.radio_button :level, "0", checked:"checked" %>会员
			  	<% if @admin.level == 1 %>
			  	<%= f.radio_button :level, "2" %>代理
			  	<% end %>
			  </p>
			  <p>
			    <%= f.submit "确定" %>
			  </p>
			<% end %>
        </div>
    </div>
</div>