<%= content_for :script do %>
jQuery(document).ready(function() {
    
    /*
        Fullscreen background
    */
    $.backstretch("<%= asset_path 'bk.jpg' %>");
    
    /*
        Form validation
    */
    $('.login-form input[type="text"], .login-form input[type="password"], .login-form textarea').on('focus', function() {
        $(this).removeClass('input-error');
    });
    
    $('.login-form').on('submit', function(e) {
        
        $(this).find('input[type="text"], input[type="password"], textarea').each(function(){
            if( $(this).val() == "" ) {
                e.preventDefault();
                $(this).addClass('input-error');
            }
            else {
                $(this).removeClass('input-error');
            }
        });
        
    });
    
    
});
<% end %>

<div class="top-content">
    <div class="inner-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 form-box">
                    <% if @error %>
                        <div class="alert alert-success page-alert" id="alert-1">
                            <button type="button" class="close"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                            <%= @error %>
                        </div>
                    <% end %>
                    <div class="form-top">
                        <div class="form-top-left">
                            <h3>登录游戏</h3>
                            <p>请输入游戏的账号密码</p>
                        </div>
                        <div class="form-top-right">
                            <i class="fa fa-key"></i>
                        </div>
                    </div>
                    <div class="form-bottom">
                    <%= form_for :session, url: sessions_path do |f| %>

                        <div class="form-group">
                        <%= f.text_field :account, class: "form-control", placeholder: "Username...", required: true, autofocus: true, :value => @defaultname[:account] %>
                        </div>

                        <div class="form-group">
                        <%= f.password_field :password, class: "form-control", placeholder: "Password...", required: true %>
                        </div>
                        <%= f.submit "登录", class: "btn btn-lg btn-primary btn-block btn-signin" %>
                    <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
