<% content_for :head do %>
    <%= javascript_include_tag 'jquery-1.4.4.min', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'jquery.jqprint-0.3', 'data-turbolinks-track' => true %>
<% end %>

<% content_for :menus do %>
    <li data-tag="idx">
        <%= link_to '幸运九宫格', controller: 'main', action: 'index' %>
    </li>
    <li data-tag="kj">
        <%= link_to '历史开奖号码', controller: 'mainhistory', action: 'index' %>
    </li>
    <li  data-tag="zhl">
        <%= link_to '单选盘', controller: 'singlegame', action: 'index' %>
    </li>
    <li data-tag="dshl">
        <%= link_to '组和盘', controller: 'combinationgame', action: 'index' %>
    </li>
    <li class=hover data-tag="sxpl">
        <%= link_to '双面盘', controller: 'doublegame', action: 'index' %>
    </li>
    <li data-tag="kjs">
        <%= link_to '九宫格开奖直播', controller: 'flashview', action: 'index' %>
    </li>
    <li    data-tag="mfc">
        <%= link_to '游戏记录', controller: 'traceresult', action: 'index' %>
    </li>
<% end %>

<% content_for :script do %>
$(document).ready(
    function(){
    setInterval(countdown, 1000);
  })
    function countdown() {
        var minute = document.getElementById("minute");
        var second = document.getElementById("second");
        var newSeconds = parseInt(second.innerText) - 1;
        var newMinute = parseInt(minute.innerText);
        if (newSeconds == 0 && newMinute > 0) {
          newMinute -= 1;
          newSeconds = 59;
        }
        if (newSeconds == 0 && newMinute == 0) {
          location.reload();
        }
        if (!isNaN(newMinute)) {
          minute.innerHTML = newMinute;
        }
        if (!isNaN(newSeconds)) {
          second.innerHTML = newSeconds;
        }
    }
$(".reccheck").blur(function(){
        var coinitems = document.getElementsByClassName("reccheck");
        var total = 0;
        for (i = 0; i < coinitems.length; i++)
        {
            coin = parseInt(coinitems[i].value)
            if (!isNaN(coin))
            total += coin
        }
        updateTotal(total);
    }
  );
$(".reccheck").focus(function(){
        var defaultcoin = document.getElementById("defaultcoin");
        var coin = defaultcoin.value
        this.value = coin
    }
);
function resetcoin(){
    document.getElementById("coinnums").innerHTML = '0';
    var coinitems = document.getElementsByClassName("reccheck");
    var total = 0;
    for (i = 0; i < coinitems.length; i++)
    {
        coinitems[i].value = '';
    }
}
function updateTotal(totalcoin){
        $("#coinnums").text(totalcoin.toString());
        document.getElementById("cointotal").value = totalcoin;
}
function xprint() {
    $("#tblprint").jqprint();
}

<% end %>

<div class="lot-table" id="history", style="width:955px">
    <div>
        <div style="width:100%" id="myPrintArea"> 
        <table> 
        <tbody>
            <tr> 
            <td style="vertical-align:top;width:180px;border:0px;padding-right:5px;"> 
            <table class="lot-table" id="divprint">
                <tbody>
                    <tr class="head">
                        <td colspan="2">
                            下注结果反馈
                        </td>
                    </tr>
                    <tr>
                        <td>
                            会员账户
                        </td>
                        <td>
                            <%if @user%><%=@user.account%><%end%>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            可用金额
                        </td>
                        <td>
                            <%if @user%><%=@user.coin%><%end%>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div>
                                <button type="button" style="height:20px;width:60px;margin-right:10px"
                                onclick="xprint()">
                                    打印
                                </button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div id = "doubleresult" >
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            </td>
            <%= form_for :tracelogs, url: tracelogs_double_path, remote:true do |f| %>
            <td style="border:0px; vertical-align:top;"> 
            <table class="lot-table" id="history">
                <tbody><tr class="head">
                    <td width="180px">
                        项目
                    </td>
                    <td>
                        大
                    <td style="width: 60px; text-align: center;">
                        小
                    </td>
                </tr>
                    <tr class="even">
                        <td>
                            <p>壹</p>
                        </td>
                        <% @gridconfigs.each do |config| %>
                        <td class="nums">
                            <% if config.gridtype == 5 %>
                            赔率:<font color="red"><%= config.mulbability %><%= f.text_field :flag1_1, class:"reccheck", size:6 %>
                            <% elsif config.gridtype == 6 %>
                            赔率:<font color="red"><%= config.mulbability %><%= f.text_field :flag1_2, class:"reccheck", size:6 %>
                            <% end %>
                        </td>
                        <% end %>
                    </tr>
                    <tr class="even">
                        <td>
                            <p>贰</p>
                        </td>
                        <% @gridconfigs.each do |config| %>
                        <td class="nums">
                            <% if config.gridtype == 5 %>
                            赔率:<font color="red"><%= config.mulbability %><%= f.text_field :flag2_1, class:"reccheck", size:6 %>
                            <% elsif config.gridtype == 6 %>
                            赔率:<font color="red"><%= config.mulbability %><%= f.text_field :flag2_2, class:"reccheck", size:6 %>
                            <% end %>
                        </td>
                        <% end %>
                    </tr>
                    <tr class="even">
                        <td>
                            <p>叁</p>
                        </td>
                        <% @gridconfigs.each do |config| %>
                        <td class="nums">
                            <% if config.gridtype == 5 %>
                            赔率:<font color="red"><%= config.mulbability %><%= f.text_field :flag3_1, class:"reccheck", size:6 %>
                            <% elsif config.gridtype == 6 %>
                            赔率:<font color="red"><%= config.mulbability %><%= f.text_field :flag3_2, class:"reccheck", size:6 %>
                            <% end %>
                        </td>
                        <% end %>
                    </tr>
                    <tr class="even">
                        <td>
                            <p>肆</p>
                        </td>
                        <% @gridconfigs.each do |config| %>
                        <td class="nums">
                            <% if config.gridtype == 5 %>
                            赔率:<font color="red"><%= config.mulbability %><%= f.text_field :flag4_1, class:"reccheck", size:6 %>
                            <% elsif config.gridtype == 6 %>
                            赔率:<font color="red"><%= config.mulbability %><%= f.text_field :flag4_2, class:"reccheck", size:6 %>
                            <% end %>
                        </td>
                        <% end %>
                    </tr>
                    <tr class="even">
                        <td>
                            <p>伍</p>
                        </td>
                        <% @gridconfigs.each do |config| %>
                        <td class="nums">
                            <% if config.gridtype == 5 %>
                            赔率:<font color="red"><%= config.mulbability %><%= f.text_field :flag5_1, class:"reccheck", size:6 %>
                            <% elsif config.gridtype == 6 %>
                            赔率:<font color="red"><%= config.mulbability %><%= f.text_field :flag5_2, class:"reccheck", size:6 %>
                            <% end %>
                        </td>
                        <% end %>
                    </tr>
                    <tr class="even">
                        <td>
                            <p>陆</p>
                        </td>
                        <% @gridconfigs.each do |config| %>
                        <td class="nums">
                            <% if config.gridtype == 5 %>
                            赔率:<font color="red"><%= config.mulbability %><%= f.text_field :flag6_1, class:"reccheck", size:6 %>
                            <% elsif config.gridtype == 6 %>
                            赔率:<font color="red"><%= config.mulbability %><%= f.text_field :flag6_2, class:"reccheck", size:6 %>
                            <% end %>
                        </td>
                        <% end %>
                    </tr>
                    <tr class="even">
                        <td>
                            <p>柒</p>
                        </td>
                        <% @gridconfigs.each do |config| %>
                        <td class="nums">
                            <% if config.gridtype == 5 %>
                            赔率:<font color="red"><%= config.mulbability %><%= f.text_field :flag7_1, class:"reccheck", size:6 %>
                            <% elsif config.gridtype == 6 %>
                            赔率:<font color="red"><%= config.mulbability %><%= f.text_field :flag7_2, class:"reccheck", size:6 %>
                            <% end %>
                        </td>
                        <% end %>
                    </tr>
                    <tr class="even">
                        <td>
                            <p>捌</p>
                        </td>
                        <% @gridconfigs.each do |config| %>
                        <td class="nums">
                            <% if config.gridtype == 5 %>
                            赔率:<font color="red"><%= config.mulbability %><%= f.text_field :flag8_1, class:"reccheck", size:6 %>
                            <% elsif config.gridtype == 6 %>
                            赔率:<font color="red"><%= config.mulbability %><%= f.text_field :flag8_2, class:"reccheck", size:6 %>
                            <% end %>
                        </td>
                        <% end %>
                    </tr>
                    <tr class="even">
                        <td>
                            <p>镹</p>
                        </td>
                        <% @gridconfigs.each do |config| %>
                        <td class="nums">
                            <% if config.gridtype == 5 %>
                            赔率:<font color="red"><%= config.mulbability %><%= f.text_field :flag9_1, class:"reccheck", size:6 %>
                            <% elsif config.gridtype == 6 %>
                            赔率:<font color="red"><%= config.mulbability %><%= f.text_field :flag9_2, class:"reccheck", size:6 %>
                            <% end %>
                        </td>
                        <% end %>
                    </tr>
                </tbody>
                <tfoot>
                    <tr><td colspan="7" align="center">
                    <div><font color="green">快捷下注 金额:<input size="6" type="text" id="defaultcoin" style="margin-right:10px"/></font>
                    总投注额:<span style="color:red;margin-right:10px" id="coinnums">0</span>
                    <%= f.hidden_field :totalcoin, id:"cointotal", value:0 %>
                    <button type="button", style="height:20px;width:60px;margin-right:10px", onclick="resetcoin()">重填</button>
                    <%= f.submit "下注", style:"height:20px;width:60px", :onclick=>'return confirm("确认下注");'%>
                    </div></td>
                </tfoot>
                <%end%>
            </table>
        </tbody>
        </table> 
    </div>
</div>