
<!DOCTYPE HTML>
<html xmlns:v="urn:schemas-microsoft-com:vml">
<head>
    <title>快乐九宫格-皇家彩世界</title>
    <meta name="keywords" content="皇家九宫格" />
    <meta name="description" content="皇家九宫格。" />
    <meta http-equiv="X-UA-Compatible" content="IE=7">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'base', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'draw5', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'kl9', 'data-turbolinks-track' => true %>
<style>
    .lot-menu{width:998px;border:solid 1px #ddd;height:37px;background-color:#f9f9f9;margin-top:10px}.lot-menu li{float:left}.lot-menu li a{display:block;line-height:37px;width:100px;border-right:solid 1px #ddd;height:37px}.lot-menu li a:hover{background-color:#f63;color:#fff}.lot-menu li .cur{background-color:#f63;color:#fff}.lot-menu li .last{width:89px;border-right:0}.lot-award{padding:6px;height:82px;text-align:left}.lot-award li{float:left}.lot-award .logo{width:82px;height:82px;margin-right:15px}.lot-award .logo img{width:82px;height:82px}.lot-award .currentAward{width:355px;margin-right:20px}.lot-award .currentAward .title{float:left;line-height:35px;height:35px;color:#999}.lot-award .currentAward .period{text-align:right;line-height:35px;float:left;color:#999}.lot-award .currentAward .period-info{float:right;line-height:35px}.lot-award .currentAward .period-info span{color:red;font-weight:bold}.lot-award .warnTime{border:solid 1px #ccc;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:4px;width:276px;padding:7px 3px 8px 8px;height:48px;margin-top:10px;background-color:#fff}.warnTime div{float:left}.warnTime .title{margin-left:0;margin-right:5px}.warnTime .title div{float:none;line-height:23px}.warnTime #period{width:80px;color:green;font-weight:bold}.warnTime .minute,.warnTime .second{background:url(time-bg2.png) no-repeat;width:49px;height:48px;text-align:center;font-family:Tahoma;font-size:24px;line-height:48px;color:#fff;font-weight:bold}.warnTime .sound{background:url(sound.jpg) no-repeat 0 -54px;display:block;float:left;width:27px;height:27px;cursor:pointer;margin-top:12px}.warnTime .close{border:0;background:url(sound.jpg) no-repeat 0 0;margin-top:12px}.warnTime .red-bg{background:url(time-bg.png) no-repeat}.warnTime .t2{line-height:48px;margin:0 5px}.lot-award .navi{float:right;width:200px;line-height:30px;padding-top:10px}.lot-award .navi ul li{width:98px}.lot-award .navi ul li a{display:block}.lot-award .navi .down{background:url(lot-down.png) 0 7px no-repeat;padding-left:15px}.lot-wrap{width:980px;background-color:#f9f9f9;padding:10px 10px}.lot-flat{height:90px;margin-bottom:10px;border-bottom:dotted 1px #ccc}.lot-wrap .h-125{height:125px}.lot-wrap .h-45{height:45px}.lot-flat li{float:left;margin-right:9px;margin-bottom:8px}.lot-flat li a{display:block;text-align:center;letter-spacing:2px;line-height:31px;width:99px;height:31px;background-color:#fff;border:solid 1px #ccc}.lot-flat .right{margin-right:0;float:right}.lot-flat .right a{width:98px}.lot-flat li .cur,.lot-flat li a:hover{background-color:#ed1c24;border:solid 1px #ed1c24;color:#fff}.lot-wrap .index-head .banner{width:335px;margin-right:15px;display:block;height:220px;float:left}.lot-wrap .index-head .banner img{width:335px;height:220px}.lot-wrap .index-head .trend{float:right;width:625px;border:solid 1px #ddd}.l-title{height:37px;line-height:37px;padding:0 10px;background-color:#ececec;border-bottom:solid 1px #ddd}.lot-wrap .index-history .title h2,.l-title h2{font-size:12px;font-weight:bold;float:left;display:block}.lot-wrap .index-history .title a,.l-title a{float:right;display:block;color:#666}.lot-wrap .index-history .title a:hover,.l-title a:hover{color:#ed1c24}.lot-wrap .index-history .title{height:37px;line-height:37px;padding:0 10px;background-color:#ececec;border:solid 1px #ccc;border-bottom:0}.lot-table{width:100%;text-align:center}.lot-table .head{height:40px;background-color:#f2f2f2}.lot-table td{border:solid 1px #ccc;height:37px}.lot-table .odd{background-color:#fff;font-size:13px}.lot-table .even{background-color:#f9f9f9;font-size:13px}.lot-table .lose{color:#21961c}.lot-table .win{color:#e84147}.lot-table .align{text-align:center}#history .p{float:left;padding-left:15px}#history .t{margin-right:15px;color:#6f8a97;float:right}#history p{line-height:35px}#history .r{color:#de2020}#hisotry .choiceTime{line-height:25px}.lot-article{width:338px;height:294px;float:left;border:solid 1px #ddd}.lot-article .wrap h1 a{display:block;line-height:36px;font-size:12px;text-align:center;color:#ed1c24}.lot-article .wrap p{line-height:20px;height:36px;padding-left:15px;padding-bottom:5px;padding-right:10px;margin-bottom:9px;color:#999}.lot-article .wrap{padding:10px 10px;text-align:left;background-color:#fff}.lot-article .wrap ul li{width:290px;line-height:25px}.lot-about,.lot-soft{float:right;width:626px;border:solid 1px #ddd}.lot-about p{text-align:left;line-height:22px;text-indent:2em;padding:15px 15px 25px 15px;color:#666;background-color:#fff}.lot-soft ul{padding:15px 0 25px 10px;color:#666;height:80px;background-color:#fff}.lot-soft ul li{float:left}.lot-soft ul .soft-logo{width:80px;height:80px;margin-right:11px;_margin-right:5px}.lot-soft ul .name{width:205px;text-align:left;margin-right:11px;_margin-right:5px}.lot-soft ul .name a{line-height:20px;display:block;margin-bottom:5px;font-size:14px;font-weight:bold;color:#ed1c24;font-family:微软雅黑}.lot-soft ul .name p{line-height:18px;color:#666}.lot-search{text-align:right;margin-bottom:10px}.lot-search #dateData{height:20px;width:100px;padding:0 5px}.roadmap-table-caption{width:100%;color:#666;text-align:left;line-height:30px;border:solid 1px #ccc;margin-bottom:-1px;height:30px;background-color:#f4f4f4}.roadmap-table-caption .r{color:Red}.roadmap-table-caption .g{color:Green}.roadmap-table-caption .b{color:Blue}.roadmap-table-caption td{width:100%;text-align:right;padding-right:5px}.roadmap-table-caption td a{float:left;margin-left:5px;color:green}.roadmap-table-caption .count{color:#e84147}.roadmap-table{text-align:center}.mb-15{margin-bottom:15px}.roadmap-table td{border:solid 1px #ccc;line-height:18px;padding-top:5px;text-align:center;font-size:14px;width:27px}.roadmap-table .odd{background-color:#f1f1f1}.roadmap-table span{color:red;display:block}.roadmap-table label{display:block;color:blue}.roadmap-table p{display:block;color:green}.roadmap-bjl{margin-bottom:15px;margin-top:-1px}.ico-up{display:block;background:url(up.gif) no-repeat 85px 0;color:#c3271d}.ico-down{display:block;background:url(down.gif) no-repeat 85px 0;color:#c3271d}.zst-menu{width:998px;height:37px;background-color:#e3e1e1}.zst-menu li{float:left}.zst-menu li a{display:block;line-height:37px;width:112px;border-bottom:solid 1px #474747;height:37px}.zst-menu li a.cur{background-color:#ed1c24;border-bottom:solid 1px #ed1c24;color:#fff}.zst-menu li a:hover{border-bottom:solid 1px #ff2931;color:#fff;background-color:#ff2931}.zst-menu li .last{width:102px;border-right:0}.lot-number-omit{line-height:32px}.lot-number-omit .ball{width:100%;height:32px;background-color:#f7f7f7;border-top:solid 1px #a6a5a5;border-bottom:dashed 1px #ccc}.lot-number-omit .ball ul li{float:left}.lot-number-omit .ball ul li a{margin:0 15px;color:#333}.lot-number-omit .type{width:1000px;margin-bottom:20px;height:32px}.lot-number-omit .type li{float:left}.lot-number-omit .type ul li a{margin:0 10px;color:#666}.lot-number-omit .ball ul li a:hover,.lot-number-omit .type ul li a:hover,.lot-number-omit .ball ul li .cur,.lot-number-omit .type ul li .cur{color:#e84147}.lot-number-omit .ball .ckb{display:block;float:left;padding:9px 0 0 10px}.lot-number-omit .ball .ckb-txt{display:block;float:left;color:#666;cursor:pointer;margin-left:3px}.lot-table .ball{width:100%}.lot-table .ball td{border:0;height:37px}.lot-table .ball .bg1{width:23px;background-color:#fff}.lot-table .ball .bg2{width:23px;background-color:#ececec}.f14{font-size:14px}.f14 .ball{background:url('ballViolet.png') no-repeat center #fafafa;width:32px}.func-category{line-height:25px;text-align:right;padding-left:10px;margin-bottom:15px;border-bottom:dashed 1px #ccc;float:left;clear:left;height:35px;}.func-category a{margin-left:10px;color:#828282;font-weight:bold}.func-category .cur,.func-category a:hover{color:#e84147}#container{width:990px;height:400px}.copy_share{float:left;height:50px;margin-top:20px}.copy_share .txt{width:380px;height:20px;line-height:20px;padding:3px 5px;font-size:14px;color:#444;outline:0;float:left}.copy_share .btn_share_html,.copy_share .btn_share_url{float:left;margin-left:10px;width:100px;height:25px;line-height:25px;text-align:center;margin-top:2px;color:gray;background:url(bg_wt2.png) no-repeat -40px -105px;outline:0;text-shadow:0 1px 0 #FFF}.copy_share .btn_share_html:hover,.copy_share .btn_share_url:hover{text-decoration:none;background-position:-40px -105px;color:#202020}.tips{width:953px;border:solid 1px #fed22f;background-color:#fff0a5;text-align:left;color:#0089ff;line-height:25px;margin-top:10px;padding-left:25px;margin-bottom:10px;clear:both}.warn_red{border:solid 1px red}#warn_tips{border:solid 1px #fed22f;background-color:#fff0a5;text-align:left;color:red;line-height:25px;padding-left:25px;margin-bottom:10px;clear:both}#warn_tips a{margin-left:5px;color:#0089ff}.betMode{cursor:pointer;width:230px;float:left;position:relative;margin-right:10px;margin-bottom:18px;overflow:hidden;line-height:25px;display:block;text-align:left;border:solid 1px #ccc}.betMode:hover{border:solid 1px #0089ff;color:#1d1d1d}.betMode .period{padding-left:15px}.betMode .head{background-color:#f4f4f4;height:25px;border-bottom:solid 1px #ccc;padding-left:15px}.betMode .pk10-betmode,.modeList .pk10-betmode{height:250px;padding-left:15px}.betMode .rate,.modeList .rate{background-color:#f4f4f4;height:25px;padding-left:15px;border-top:solid 1px #ccc}.betMode .head span,.betMode .rate span,.modeList .rate span span{color:Red}.betMode .rate .g,.modeList .rate .g{color:Green}.betMode .head label,.betMode .rate label,.modeList .rate span label{color:Green}.collect{background:#0089ff;z-index:1001;width:100%;overflow:hidden;position:absolute;color:#fff;height:28px;text-align:center;line-height:30px}.open-num span{float:left;font-size:13px;line-height:35px;text-align:center;width:20px}.modeList{width:250px;height:175px;overflow:hidden;line-height:25px;text-align:left;border:solid 1px #ccc}.pk10-modelist{height:300px;width:320px}.modeList .period{padding-left:8px;border-bottom:solid 1px #ccc;background-color:#f4f4f4}.pk10-modelist .result{color:#e22424;margin-left:68px}.pk10-bet-table{width:100%}.pk10-bet-table .result{width:174px;height:29px;line-height:24px;padding-left:10px;text-align:left}.pk10-bet-table .r{color:#e22424}.betMode .pk10-betmode,.modeList .pk10-betmode{height:250px;padding-left:15px}.betMode .cqssc-betmode,.modeList .cqssc-betmode{height:125px;padding-left:15px}.betMode .gdkl10-betmode,.modeList .gdkl10-betmode{height:210px;padding-left:15px}.betMode .t,.modeList .t{text-align:center}.move-down{background:url(move-down.gif) no-repeat;width:25px;height:18px;display:block;float:right;cursor:pointer;margin-left:10px;margin-top:3px;margin-right:5px}.move-down:hover{background:url(move-down-cur.gif) no-repeat}.move-up{background:url(move-up.gif) no-repeat;width:25px;float:right;height:18px;cursor:pointer;display:block;margin-left:10px;margin-top:3px;margin-right:5px}.move-up:hover{background:url(move-up-cur.gif) no-repeat}.lot-number-omit .type input{vertical-align:-2px;_vertical-align:-1px;margin-right:2px}.lot-number-omit .type label{margin-right:4px}.merge-title-table{width:100%;color:#1d1d1d;text-align:left;line-height:30px;border:solid 1px #ccc;margin-bottom:-1px;height:30px;background-color:#f4f4f4}.merge-title-table span{font-family:微软雅黑;float:left;font-size:14px;padding-left:5px}.show-win{font-family:微软雅黑;float:left;font-size:14px;color:#de2020;cursor:pointer;line-height:28px;width:110px;height:28px;text-align:center}.show-loss{font-family:微软雅黑;float:left;font-size:14px;cursor:pointer;line-height:28px;width:110px;height:28px;text-align:center}.changlong-setting{padding-left:15px;margin-left:25px;background:url(changlong-setting.png) 0 4px no-repeat}.cl_f{width:324px;text-align:center;float:left;height:32px;line-height:32px;border:solid 1px #ccc}.cl_s{width:324px;text-align:center;background-color:#fff;float:left;height:32px;line-height:32px;border:solid 1px #ccc}.changlong-title{height:30px;border-bottom:dashed 1px #ccc;line-height:30px;width:100%;margin-bottom:15px}.changlong-title .cur{color:#de2020}.changlong-title .type{float:right;margin-right:10px}.button{margin-bottom:10px;text-align:center;letter-spacing:2px;height:35px;font-family:微软雅黑}.gdkl10_modelist{height:260px;width:320px}#sContainer{height:180px;width:625px}.official{width:1000px;margin-bottom:30px;margin-top:20px;text-align:left}.official .category{float:left;border:solid 1px #999;width:180px}.official .category li{text-align:center;border-bottom:solid 1px #999}.official .category li a{display:block;padding:15px 0;font-size:14px;font-family:微软雅黑}.official .category li a:hover,.official .category .cur{background-color:#e1e1e1}.official .category li:last-child{border-bottom:0}.official .details{float:left;width:750px;min-height:250px;padding:0 16px;line-height:28px;margin-bottom:50px}.skill h1 a{display:block;line-height:40px;font-size:18px;font-family:微软雅黑;text-align:center;width:525px}.skill p{line-height:20px;text-align:left;height:25px;padding-left:15px;padding-bottom:5px;padding-right:10px;margin-bottom:9px;border-bottom:dashed 1px #ccc;text-indent:2em}.skill ul{text-align:left;margin-left:40px;_margin-left:30px}.skill ul li{float:left;width:240px;_width:245px;line-height:25px}.left-layer{top:163px;left:0;position:fixed;_position:absolute}.right-layer{top:163px;right:0;position:fixed;_position:absolute}.close{border:1px solid #ccc;width:40px;height:18px;line-height:18px;text-align:center;font-size:12px;cursor:pointer}.left-layer .close{margin-left:77px}.left-layer a,.right-layer a{clear:both;width:120px;height:200px;display:block;margin-bottom:5px}.left-layer img,.right-layer img{width:120px;height:200px}.betMode-one{text-align:left;width:250px;line-height:25px;float:right;margin-bottom:18px;overflow:hidden;line-height:30px;border:solid 1px #ccc;border-left:0}.betMode-one .period{padding-left:15px}.betMode-one .betdata{padding-left:26px}.betMode-one .head{background-color:#f4f4f4;height:30px;border-bottom:solid 1px #ccc;padding-left:15px}.betMode-one .bottom{background-color:#f4f4f4;height:30px;padding-left:15px;border-top:solid 1px #ccc}.betMode-one .head span,.betMode-one .bottom span{color:Red}.betMode-one .head label,.betMode-one .bottom label,.betMode-one .head .g,.betMode-one .bottom .g{color:Green}.lot-search label{margin-right:10px}.lot-search input{vertical-align:-2px;_vertical-align:-1px;margin-right:2px}.lot-search .car-num{float:left}.loaddingBg{width:100%;height:100%;background:#aaa;filter:alpha(opacity=50);-moz-opacity:.5;opacity:.5;position:absolute;top:0;z-index:10;left:0}.web_Sortk{clear:left;margin:2px 0 0 20px}.web_Sortk li{float:left;display:block;margin-right:8px;line-height:22px}.web_Sortk li.btn{background:url(jt0s.png) no-repeat center;width:20px;height:22px}.web_Sortk li.btnUp{background:url(jt0s21.png) no-repeat center}.web_Sortk li.btnDown{background:url(jt0s22.png) no-repeat center}.web_Sortk li.btn span{width:20px;height:11px;display:block;cursor:pointer}.lot-number-omit .ball .pk10{display:block;float:left;padding:9px 0 0 8px}.kaijiang_tiptool{text-align:center;font-family:'微软雅黑';font-size:12px;width:978px;border:1px solid #ccc;border-bottom:0;float:left;clear:left;margin-bottom:8px}.kaijiang_tiptool .tiptool_head{background:#FFF;width:978px;height:30px;background:#f4f4f4;text-align:center;border-bottom:1px solid #ccc}.tiptool_head ul{margin:0;padding:0;list-style:none;display:block}.tiptool_head li{display:block;float:left;font-size:14px;padding:5px 10px 0 10px}.tiptool_info{width:100%;float:left;clear:left}.tiptool_info ul{margin:0;padding:0;list-style:none;display:block;float:left;clear:left}.tiptool_info li{width:978px;border-bottom:1px solid #ccc;display:block;float:left;clear:left;line-height:35px}.tiptool_info li span{width:160px;height:35px;border-right:1px solid #ccc;display:block;float:left}.tiptool_info li span.last{border-right:0}.kaijiang_tiptool .ckb_span{margin:5px 0 0 0;display:block;float:left}.redBalls2{width:18px;height:18px;background:url(ballks2_s.png) no-repeat center;display:block;font-family:Tahoma;font-size:11px;font-weight:bold;color:#FFF;line-height:18px;text-align:center;position:absolute;top:-8px;right:-1px;display:none}.redBalls3{width:18px;height:18px;background:url(ballks2_s2.png) no-repeat center;display:block;font-family:Tahoma;font-size:11px;font-weight:bold;color:#FFF;line-height:18px;text-align:center;position:absolute;top:-8px;right:-1px;display:none}#lot-wrap #ball-choose,#lot-wrap #bsoe-choose{width:980px;padding:8px 0 8px 0;float:left;clear:left}#lot-wrap #ball-choose li,#lot-wrap #bsoe-choose li{float:left;margin:0 10px 0 0}.dataTableKuang{width:978px;font-family:"微软雅黑";font-size:12px;margin-bottom:10px}.dataTableKuang table{background:#ccc;border-collapse:separate}.dataTableKuang table .huisekColor{background:#f4f4f4}.dataTableKuang table .huisekColor2{background:#eee}.dataTableKuang table .firstTd{height:31px;text-align:left;font-size:14px;line-height:31px}.dataTableKuang table .firstTd span{display:block;padding:0 0 0 10px}.dataTableKuang table .huisekColor2 td{width:10%;height:37px}.dataTableKuangList table .huisekColor2 td{width:57px}.web_ballPaiMing{width:100%;height:20px;text-align:center;line-height:26px}.web_bigAndSmall{width:100%;height:31px;text-align:center;line-height:31px}.web_bigAndSmall ul{margin:0;padding:0;list-style:none;display:block}.web_bigAndSmall ul li{width:25%;display:block;height:31px;float:left;text-align:center}.web_bigAndSmall2{width:100%;height:31px;text-align:center;line-height:31px}.web_bigAndSmall2 ul{width:100%;margin:0;padding:0;list-style:none;display:block}.web_bigAndSmall2 ul li{width:23px;display:block;height:31px;float:left;text-align:center;background:#fff;border-right:1px solid #ccc}.dataTableKuangList{width:978px;font-family:"微软雅黑";font-size:12px}.dataTableKuangList table{background:#ccc;border-collapse:separate}.dataTableKuangList table td{height:35px;text-align:center;line-height:35px}.dataTableKuangList table td.firstTd span{display:block;float:left;font-size:14px;padding-left:10px}.dataTableKuangList table .huisekColor{background:#f2f2f2}.dataTableKuangList table .huisekColor2{background:#fff}.dataTableKuangList table .huisekColor3{background:#f9f9f9}.twosidedtip{color:red;text-align:left;height:30px}#choose_ball .currball{color:red}.web_moreVideo{width:980px;height:125px}.web_moreVideoLeft{width:45px;height:125px;background:url(leftjt01sk.gif) no-repeat center;cursor:pointer;float:left}.web_moreVideoRight{width:45px;height:125px;background:url(leftjt02sk.gif) no-repeat center;cursor:pointer;float:right}.web_moreVideoContent{width:890px;height:125px;float:left;overflow:hidden;position:relative}.web_moreVideoContent ul{width:9999px;margin:0;padding:0;display:block;list-style:none}.web_moreVideoContent li{width:166px;height:125px;display:block;float:left;margin:0 6px 0 6px;position:relative}.web_moreVideoContent_pos{width:100%;height:28px;background:#000;position:absolute;bottom:0;left:0}.web_moreVideoContent_pos font{display:block;float:left;color:#FFF;font-size:12px;line-height:28px}.web_moreVideoContent_pos font.jlk01{padding-left:5px}.web_moreVideoContent_pos font.jlk02 b{font-family:Tahoma;font-weight:bold;color:#fcff0c;margin-right:1px}.web_moreVideoContent_pos font.jlk03{width:28px;height:28px;float:right;background:url(rightJt098.jpg) no-repeat center;cursor:pointer}.web_mengban{width:166px;height:97px;background:#FFF;position:absolute;filter:alpha(opacity=0);-moz-opacity:0;opacity:0;left:0;top:0;z-index:99;cursor:pointer}.explain_table{text-align:left;width:958px !important;border:1px solid #cdcdcd;font-size:12px;color:#666;padding:10px;line-height:24px;float:left;clear:left;margin:0 0 15px 0}.web_listOP{width:985px;margin:0 auto;clear:left}.web_listOP ul{float:left;clear:left;padding:0 0 10px 0}.web_listOP li{width:103px;height:35px;margin:3px;display:block;float:left;cursor:pointer;background:url(changeXuan1.png) no-repeat center;text-align:center;color:#666;line-height:35px;font-family:"宋体";font-size:12px;position:relative}.web_listOP li.hover{background:url(changeXuan2.png) no-repeat center}.web_listChange li{background:url(changeXuan3.png) no-repeat center}.web_listOP li.listLong{width:218px;height:35px;background:url(changeXuan3.gif) no-repeat}.wen_newIcon{width:20px;height:11px;background:url(newicon01.gif) no-repeat;font-size:0;position:absolute;right:-3px;top:-3px}.hoticon{width:20px;height:11px;background:url(hoticon.gif) no-repeat;font-size:0;position:absolute;right:-3px;top:-3px}.wen_lasthostory{width:59px;height:16px;background:url(lasthostory.png) no-repeat;font-size:0;position:absolute;right:-3px;top:-8px}.newIcon_postion{position:relative}.wen_newIcon2{width:20px;height:11px;background:url(newicon01.gif) no-repeat;font-size:0;position:absolute;right:25px;top:-3px}.web_listOP a{color:#333;text-decoration:none;width:103px;height:35px;display:block}.web_listOP a:hover{color:#fff;text-decoration:none;background:url(changeXuan2.png) no-repeat center}.web_listOP li.hover a{color:#fff;text-decoration:none}.web_listOP li.hover a:hover{color:#fff;text-decoration:none}.web_listOP li .redColor{color:#c3271d;text-decoration:none}.web_listOP li .redColor:hover{color:#fff;text-decoration:none}.clearleft{clear:left;float:left}.mbottom10{margin-bottom:10px}.lot-number-omit .ball label{cursor:pointer}.ball-choose_ul li{width:75px;white-space:nowrap}.ad_head_banner{overflow:hidden}.ad_head_banner img{display:block;border:0}.ad_diz_hottopic_bottom{width:240px;height:50px;padding-left:12px}.betgame-list{margin:15px 0;width:656px;border:solid 1px #fed22f;background-color:#fff0a5;text-align:center;height:25px;line-height:25px;color:#0089ff}.betgame-td{font-size:14px;border-top:1px solid #ccc}.InstructionsForUse{display:block;position:relative}.InstructionsForUse .InstructionsForUse_btn{width:62px;height:24px;background:url(instructions/btn01.jpg) no-repeat;display:block;cursor:pointer;line-height:24px;font-size:12px;padding:0 0 0 5px;margin-top:3px;text-align:left;position:absolute;top:0;left:0;z-index:999}.InstructionsForUse .ForUse_hover{background:url(instructions/btn02.jpg) no-repeat}.InstructionsForUse .position{position:absolute;top:26px;left:0;display:none;z-index:998}.InstructionsForUse .content{width:260px;border:1px solid #c6ccd4;border-radius:2px;background:#f6f6f6;display:block;padding:10px;line-height:26px;font-size:12px;text-align:left}.InstructionsForUse .content font{color:#f70c0c}.td_font_red{color:#c3271d}.td_font_lightblue{color:#61b1da}.td_font_draklightgreen{color:#56b07c}.feedbackDiv{padding-bottom:5px;color:#999;text-align:left;font-family:"微软雅黑";font-size:12px}.feedbackDiv a{color:#ff5a36 !important;text-decoration:underline}.iconHelp{position:relative;display:inline}.iconHelp i{position:absolute;width:12px;height:12px;top:0;left:0;background:url("questionMark.png") no-repeat 0 0;display:block;cursor:pointer;font-size:0}.iconHelp i:hover{background:url("questionMark.png") no-repeat 0 -12px}.helpWindow{width:320px;height:auto;display:none;border:1px solid #ddd;box-shadow:1px 1px 1px rgba(0,0,0,0.1);border-radius:4px;background:#fff;position:absolute;left:-26px;bottom:22px}.helpWindow .triangleBorder{width:0;height:0;border-width:8px;border-style:solid dashed dashed dashed;border-color:#ddd transparent transparent transparent;display:block;position:absolute;z-index:1;left:23px;bottom:-16px;_bottom:-36px}.helpWindow .triangleBg{width:0;height:0;border-width:7px;border-style:solid dashed dashed dashed;border-color:#fff transparent transparent transparent;display:block;position:absolute;z-index:2;left:24px;bottom:-14px;_bottom:-33px}.helpWindow .cons{width:280px;display:block;padding:10px;color:#333;line-height:22px;text-align:left;color:#666}.checkBlock{width:980px;height:auto;font-family:"Microsoft YaHei";color:#666}.checkBlock .checkBlockList{width:100%;float:left;clear:left;font-size:12px;padding-bottom:10px}.checkBlock .checkBlockList i{width:100px;float:left;text-align:right;font-size:12px;font-weight:bold;font-style:normal}.checkBlock .checkBlockList .listCons{width:880px;float:left}.checkBlock .checkBlockList .listCons b.newCheckBox{width:50px;height:14px;display:block;float:left;margin-left:10px;margin-top:2px;margin-bottom:4px;white-space:nowrap;_display:inline;padding-left:19px;overflow:hidden;cursor:pointer;font-weight:normal;text-align:left;background:url("checkBox2.png") no-repeat 0 0}.checkBlock .checkBlockList .listCons b.second{width:30px}.checkBlock .checkBlockList .listCons b.inputBtn{float:left;padding:0 0 0 10px}.checkBlock .checkBlockList .listCons b.inputBtn input{cursor:pointer;height:22px;vertical-align:middle;font-size:12px}.checkBlock .checkBlockList .listCons i{float:left;display:block;width:20px;color:#999;text-align:center;font-weight:normal}.checkBlock .checkBlockList .listCons b.true{background:url("checkBox2.png") no-repeat 0 -14px}.fontAd{height:30px;float:left;line-height:30px;padding:0 0 0 20px;text-overflow:ellipsis;-o-text-overflow:ellipsis;overflow:hidden;white-space:nowrap;margin-top:0}.fontAd a{display:inline;float:none}.fontWidth01{width:350px;height:30px;line-height:30px;padding-top:4px;padding-left:40px}.fontAd a img{overflow:hidden}.fontWidth02{width:650px;height:38px;line-height:38px;padding-top:4px;padding-left:50px}.history_gg a{display:block;padding:0;font-size:0;position:relative;height:38px}.history_gg img{width:978px;height:38px;position:absolute;top:0;left:0;z-index:1}.history_gg .closegg{display:block;text-align:center;position:absolute;width:12px;height:12px;line-height:12px;cursor:pointer;font-size:11px;right:0;top:0;background:#fff;z-index:3}.history_gg td{position:relative}.feedbackDiv{width:976px;padding-top:5px;padding-bottom:5px;float:left;clear:left;background:#f1efef;border:1px solid #d7d4d4;margin-bottom:10px;position:relative;z-index:0}.fk_span{height:20px;display:block;background:url('menu_icon.png') no-repeat 0 -79px;line-height:20px;text-indent:22px;overflow:hidden;margin-left:20px;margin-top:2px;_display:inline;float:left}.noIcon{color:red;background:0}.selectPx_span{width:135px;height:auto;background:red;z-index:999;background:#f1efef !important;border:1px solid #d7d4d4;position:absolute;top:32px;left:109px;display:block}.selectPx_span a{width:100%;height:25px;line-height:25px;display:block}.fk_span a.fk_spanLink{color:#666 !important;text-decoration:none}.fk_span a.fk_spanLink:hover{color:#ff5a36 !important;text-decoration:none}.pd_span{float:left}.px_span{height:13px;background:url('menu_icon.png') no-repeat 0 -44px;line-height:13px;margin-top:5px}.unlock_span{height:22px;line-height:22px;margin-top:0;background:url('menu_icon.png') no-repeat 0 -57px}.unlock_span a.fk_spanLink{color:#ff5a36 !important;text-decoration:none}.unlock_span a.fk_spanLink:hover{color:#ff5a36 !important;text-decoration:none}a.leftBtn{display:block;width:48px;height:22px;overflow:hidden;text-align:center;line-height:22px;background:url('menu_icon.png') no-repeat 0 -22px;color:#fff !important;text-decoration:none;margin-left:20px;_display:inline;float:left}a.rightBtn{display:block;width:48px;height:22px;overflow:hidden;text-align:center;line-height:22px;background:url('menu_icon.png') no-repeat 0 0;color:#fff !important;text-decoration:none;margin-left:20px;_display:inline;float:left}
</style>
</head>
<body>
<!--头部 start-->
<div class="hj_public_topNav" style="z-index:100;">
    <div class="hj_p_tn_content" style="z-index:10;">
        <div class="topSmallNav">
            <a href="http://www.1396mm.com/" target="_blank">博世界</a>
            <a href="http://www.1396b.com/" class="hover" target="_blank">彩世界</a>
            <a href="http://www.1396app.com/" target="_blank">博应用</a>
            <a href="http://www.1396dh.com/" target="_blank">爱博导航</a>
        </div>
        <div class="Announcement" >
            <marquee id="marquee" scrollamount="2" direction="left">尊敬的用户！欢迎来到皇家彩世界。
            </marquee>
        </div>
        <div class="rightLogin" id="unsignin">
            <% if @user == nil %>
            <span><%= link_to '登录', controller: 'welcome', action: 'index' %></span>
            <% else %>
            <span><%= link_to @user.account, {controller: 'welcome', action: 'index'}, style: 'color: red;width:auto;' %></span>
            <span class="line">|</span>
            <span><%= link_to "退出", session_path(@user.id), method: "delete" %></span>
            <% end %>
            <span class="line">|</span>
            <span class="res"><a href="/home/feedback" target="_blank">用户反馈</a></span>
            <span><a href="http://www.royaleu.com/product/index.html?pageId=8" class="bw_downloadBtn">应用下载</a></span>
        </div>
        <div class="hj_public_clearBoth"></div>
        <div class="topSmallNav_more">
            <table>
                <tr>
                    <th colspan="2">网页</th>
                    <th colspan="3">手机</th>
                </tr>
                <tr>
                    <td width="20%"><a href="http://www.1396mm.com/" target="_blank">博世界</a></td>
                    <td width="20%"><a href="http://www.1396app.com/" target="_blank">博应用<span class="hj_public_hot"></span></a></td>
                    <td width="20%"><a href="http://soft.royaleu.com/ssbd/" target="_blank">重庆时时彩</a></td>
                    <td width="20%"><a href="http://soft.royaleu.com/ssbd/" target="_blank">时时彩宝典<span class="hj_public_new"></span></a></td>
                    <td width="20%"><a href="http://soft.royaleu.com/app/" target="_blank">博应用</a></td>
                </tr>
                <tr>
                    <td><a href="http://www.1396b.com/" target="_blank">彩世界</a></td>
                    <td><a href="http://www.1396dh.com/" target="_blank">爱博导航</a></td>
                    <td><a href="http://soft.royaleu.com/xync/" target="_blank">幸运农场</a></td>
                    <td><a href="http://soft.royaleu.com/ssbd/" target="_blank">广东快乐十分</a></td>
                    <td><a href="http://soft.royaleu.com/bsj/" target="_blank">博世界</a></td>
                </tr>
                <tr>
                    <td><a href="http://www.1396b.com/software/" target="_blank">软件中心</a></td>
                    <td><a href="http://www.1396sp.com/" target="_blank">视频联盟</a></td>
                    <td><a href="http://soft.royaleu.com/abm/" target="_blank">自动下注软件</a></td>
                    <td><a href="http://soft.royaleu.com/bjk8/" target="_blank">北京快乐九宫格</a></td>
                    <td><a href="http://soft.royaleu.com/ssbd/" target="_blank">北京PK10</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $(".topSmallNav .last").mouseover(function () {
            $(this).addClass("hover");
            $(".topSmallNav_more").css("display", "block");
        });
        $(".topSmallNav_more").mouseleave(function () {
            $(".topSmallNav .last").removeClass("hover");
            $(this).css("display", "none");
        })
    })
</script>
<!--头部 end-->
<div class="top_warn">
        <div class="topContent">
        </div>
    </div>
    <div class="header">
    <div class="logo">
        <a href="/">
            <img src=<%= image_url("logo.png") %> alt="皇家彩世界"/></a>
    </div>
    <div class="rf">
    </div>
</div>

    <div class="menu">
    
    <ul>
         <li>
            <a href="/" id="nav01" >首页</a>
        </li>
        <li>
            <a href="/" class=cur>彩票大厅</a>
        </li>
        <li>
            <a href="/"  target="_blank">走势图</a>
        </li>
        <li>
            <a href="/" >开奖直播</a>
        </li>

        <li>
            <a href="/" >软件中心</a>
        </li>
        <li>
            <a href="/" >交流大厅</a>
        </li>
        <li>
            <a href="/" target="_blank" rel="nofollow" class="soft rear">视频联盟</a>
        </li>
        
        <li>
            <a href="/" target="_blank"  class="soft rear">应用中心</a>
        </li>
        
        <div class="tab_style"></div>
    </ul>
</div>

    
<input type="hidden" value="updateHistoryRecord" id="callFun" />
<div class="body-content">
    <div class="business">
    </div>
    <ul class="lot-menu">
    <li>
        <%= link_to '快乐九宫格', controller: 'main', action: 'index' %>
    </li>
    <li>
        <a href="/pk10/" >北京赛车pk10</a>
    </li>
    <li>
        <a href="/shishicai/" >重庆时时彩</a>
    </li>
    <li>
        <a href="/gdkl10/" >广东快乐十分</a>
    </li>
    <li>
        <a href="/jxssc/" >江西时时彩</a>
    </li>
    <li>
        <a href="/xync/" >幸运农场</a>
    </li>
    <li>
        <a href="/jsk3/" >江苏骰宝(快3)</a>
    </li>
    <li>
        <a href="/xyft/" >幸运飞艇</a>
    </li>
    <li>
        <a href="/shssl/" >上海时时乐</a>
    </li>
       <li>
        <a href="/sdc/" class="last">圣地彩</a>
    </li>
</ul>
<ul class="lot-award">
    <li class="logo">
        <img src=<%= image_url("kl8-logo.png") %> alt="北京快乐九宫格"/>
    </li>
    <li class="currentAward">
        <div class="title">
            最新开奖：
        </div>
        <div class="period" style="color: green;">12期
        </div>
        <div class="period-info" >每日销售<span>179</span>期，今日剩余<span class="period-leave">--</span>期</div>
        <div class="lot-nums">
            <span class="no05"></span>
            <span class="no05"></span>
            <span class="no05"></span>
            <span class="no05"></span>
            <span class="no05"></span>
            <span class="no05"></span>
            <span class="no05"></span>
            <span class="no05"></span>
            <span class="no05"></span>
        </div>
    </li>
    <li class="warnTime">
        <div class="title">
            <div id="period">&nbsp;</div>
            <div>距离下期开奖剩余</div>
        </div>
        <div class="minute" id="minute">10</div>
        <div class="t2">分</div>
        <div class="second" id="second">59</div>
        <div class="t2">秒</div>
         <div class="sound" id="countdown_sound" title="点击关闭提醒声音"></div>
        <audio src=<%= image_url("du.mp3") %> id="duSound" style="display:none;"></audio>
    </li>
    <li class="navi">
        <ul>
            <li>
                <a href="/forum/1?tag=35&isexports=0" target="_blank">交流论坛</a>
            </li>
             <li>
                <a href="/diaoyong/" target="_blank" style="color:Red">调用开奖结果</a>
            </li>
            <li>
                <a href="/kl9/kaijiang" target="_blank">九宫格开奖号码</a>
            </li>
            <li>
                <a href="/kl9/downloadhistory/" target="_blank" class="down">下载历史记录</a>
            </li>
        </ul>
    </li>
</ul>
    <div class="lot-wrap">
        <div class="feedbackDiv">
    <span class="fk_span"><a href="/home/feedback/" target="_blank" class="fk_spanLink">反馈意见</a></span>
    <span class="fk_span px_span" id="menu_drag_span">
        <a href="javascript:enableMenuDrag();"  class="fk_spanLink">自定义排序(会员功能)</a>
    </span>

    <span class="pd_span" style="display:none;" id="menu_drag_tip_span">
        <span class="fk_span unlock_span fk_spanLink">已开启拖放排序功能</span>
        <a href="javascript:disableMenuDrag(1);" class="leftBtn">确定</a>
        <a href="javascript:disableMenuDrag(0);" class="rightBtn">取消</a>
    </span>

    <span class="pd_span"  style="display:none;"  id="menu_drag_unlogin_tip">
        <span class="fk_span  noIcon">您需要登陆才可以使用该功能</span>
        <a href="/sso/login/"  class="leftBtn" id="login_a_btn">登录</a>
        <a href="/sso/register/"  class="leftBtn">注册</a>
    </span>
</div>

<div class="web_listOP">
   <ul id="menu_ul" style="position: relative;">
        <li class=hover data-tag="idx">
            <%= link_to '快乐九宫格', controller: 'main', action: 'index' %>
        </li>
        <li  data-tag="kj">
            <%= link_to '历史开奖号码', controller: 'mainhistory', action: 'index' %>
        </li>
        <li  data-tag="zhl">
            <%= link_to '单选盘', controller: 'singlegame', action: 'index' %>
        </li>
        <li  data-tag="dshl">
            <%= link_to '单选盘', controller: 'combinationgame', action: 'index' %>
        </li>
        <li   data-tag="sxpl">
            <%= link_to '单选盘', controller: 'doublegame', action: 'index' %>
        </li>
        <li   data-tag="kjs">
            <a href="/kl9/shipin" class="redColor">九宫格开奖直播</a>
        </li>
        <li    data-tag="mfc">
            <a href="#">免费参考</a>
        </li>
    </ul>
</div>
    <%= yield %>
<div class="left-layer">
</div>
<div class="right-layer">
</div>
<div class="clear"></div>
 <div style="width:1000px; margin:0 auto;">
<div class="friend_link">
    <strong>友情连接：</strong>
    <div>
         <a href="http://www.1396me.com/zt/cpts/" target="_blank"><span id="_xhe_cursor"></span><span id="_xhe_cursor"></span>彩票停售原因</a>                <a href="http://www.1396mm.com/" target="_blank">博世界</a>                <a href="http://www.1396app.com/" target="_blank">博应用</a>                 <a href="http://www.pk10kj.com" target="_blank" rel="nofollow">全威pk10软件</a>                 <a href="http://www.1396mm.com/zt/2015g2e" target="_blank">g2e</a>                 <a href="http://www.caixun8.com/" target="_blank" rel="nofollow">财讯导航网</a>                 <a href="http://www.sp9988.com" target="_blank" rel="nofollow">金牌全讯网</a>                 <a href="http://www.365365bet.cc" target="_blank" rel="nofollow">365全讯网</a>
    </div>
    <span><a href="/official/227" target="_blank">更多>></a></span>
</div>
  <div style="width:100%; text-align:left; color:#666;padding:10px 0 10px 0;"><span style="color:#b60000;">敬告用户：</span>除皇家产品外，本站所刊登广告的网站和内容一概与本站无关，用户须自行判断广告网站的真实性，由此所产生的后果本公司概不负责！</div></div>
<!--底部 start-->
<div class="hj_public_foot">
    <div class="hj_public_foot_d">
        
        <div class="hj_public_foot_d1">
            <div class="leftContent">
                <i>皇家彩世界</i>
                <div class="leftContent_d">
                    <div class="lc_d">
                        <span class="lc_name">關于我們：</span>
                        <div class="lc_info">
                            <a href="/official/193"  rel="nofollow">免责声明</a>
                            <a href="/official/194"  rel="nofollow">法律声明</a>
                            <a href="/help/" target="_blank">帮助中心</a>
                        </div>
                        <div class="hj_public_clearBoth"></div>
                    </div>
                    <div class="lc_d">
                        <span class="lc_name">相關産品：</span>
                        <div class="lc_info">
                            <a href="/zhibo/" target="_blank">開獎直播</a>
                            <a href="/software/" target="_blank">軟件中心</a>
                            <a href="/map.html" target="_blank">網站地圖</a>
                        </div>
                        <div class="hj_public_clearBoth"></div>
                    </div>
                    <div class="lc_d">
                        <span class="lc_name">商務合作：</span>
                        <div class="lc_info">
                            <a href="http://www.royaleu.com/business/" target="_blank" rel="nofollow">廣告服務</a>
                            <a href="http://www.royaleu.com/special/soft.html" target="_blank" rel="nofollow">軟件定制</a>
                            <a href="/zhibo/" target="_blank">開獎直播</a>
                        </div>
                        <div class="hj_public_clearBoth"></div>
                    </div>
                    <div class="lc_d">
                        <span class="lc_name">交&nbsp;流&nbsp;群：</span>
                        <div class="lc_info">
                            <span>329235586</span>
                            <span>220634190</span>
                            <span>235983757</span>
                            <span>284202968</span>
                            <span>98470270</span>
                             <span>284202968<a  href="http://shang.qq.com/wpa/qunwpa?idkey=034a4167fd00b2f2cbedea89d0ac0e0297a0a25482df8d50b408425f4a54b3cd">加入</a></span>
                        </div>
                        <div class="hj_public_clearBoth"></div>
                    </div>
                </div>
            </div>
            <div class="rightContent">
                <i>皇家動態</i>
                <div class="rightContent_d">
<ul>
                 
                
                    <li><a href="http://www.royaleu.com/news/detail.html?id=159" target="_blank">六合盒子1.0.0：首款六合彩桌面端軟件誕生</a></li>
                
                    <li><a href="http://www.royaleu.com/news/detail.html?id=158" target="_blank">皇家登錄中心極致體驗全新上線！</a></li>
                
                    <li><a href="http://www.royaleu.com/news/detail.html?id=156" target="_blank">皇家科技G2E Asia 2015展采訪圓滿結束</a></li>
                
                    <li><a href="http://www.royaleu.com/news/detail.html?id=155" target="_blank">皇家彩世界臨時通告！</a></li>
                
                    <li><a href="http://www.royaleu.com/news/detail.html?id=154" target="_blank">迎五一假期江西時時彩1.0.0首發歡樂上線</a></li>
                
</ul>
                </div>
            </div>
            <div class="rightContent1">
                <p class="rightContent1_title">皇家网址发布器</p>
                <div class="rightContent1_info">第一时间获取皇家所有产品的最新网址</div>
                <a class="rightContent1_btn" href="http://down.1396.me/%E9%A6%99%E6%B8%AF%E7%9A%87%E5%AE%B6%E7%BD%91%E5%9D%80%E5%8F%91%E5%B8%83%E5%B7%A5%E5%85%B7.zip" target="_blank"></a>
            </div>

        </div>
        <div class="hj_public_foot_d2">
            <div class="leftContent">
                <ul>
                    <li>
                        <span></span>
                        <p>十五年專業保證</p>
                    </li>
                    <li>
                        <span class="lc_span2"></span>
                        <p>千余員工傾力奉獻</p>
                    </li>
                    <li>
                        <span class="lc_span3"></span>
                        <p>絕對精准數據獲取</p>
                    </li>
                    <li>
                        <span class="lc_span4"></span>
                        <p>尊貴品牌服務</p>
                    </li>
                </ul>
                <div class="hj_public_clearBoth"></div>
            </div>
            <div class="Contact">
                <div class="PhoneNumber">
                    <p>國內: <span>400-654-9200</span></p>
                    <p>境外: <span>00852-62104572</span></p>
                </div>
                <div class="time">
                    <p>12小時尊貴服務</p>
                    <p class="t_text">周一至周日: 9:30-22:00</p>
                </div>
            </div>
            <div class="rightContent">
                <a onclick="javascript:window.open('http://b.qq.com/webc.htm?new=0&sid=800047987&o=http://www.1396b.com/&q=7', '_blank', 'height=502, width=644,toolbar=no,scrollbars=no,menubar=no,status=no');" href="javascript:void(0);"><img src="http://rescsj.56hx.com/themes/images/headfoot/hj_public_qq.jpg " alt=""/></a>
            </div>
            <div class="hj_public_clearBoth"></div>
        </div>
    </div>
</div>
<div class="hj_public_foot2">
    <div class="hj_public_foot2_d">
        <div class="leftContent">© 2000-2015 香港皇家科技 版權所有</div>
        <div class="rightContent"><a href="http://www.royaleu.com/about/index.html" target="_blank"  rel="nofollow">公司簡介</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="http://www.royaleu.com/about/contact.html" target="_blank"  rel="nofollow">聯系我們</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="http://www.royaleu.com/about/business.html" target="_blank"  rel="nofollow">商務合作</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="http://www.royaleu.com/about/legalnotice.html" target="_blank"  rel="nofollow">法律聲明</a></div>
        <div class="hj_public_clearBoth"></div>
    </div>
</div>
<!--底部 end-->
<div id="online_qq_layer">
    <div id="online_qq_tab">
        <div class="online_icon">
            <a title="" id="floatShow" style="display: none" href="javascript:void(0);">&nbsp;</a>
            <a title="" id="floatHide" style="display: block" href="javascript:void(0);">&nbsp;</a>
        </div>
    </div>
    <div id="onlineService" style="display: none;">
        <div class="online_windows overz">
            <div class="online_w_top">
            </div>
            <div class="online_w_c overz">
                <div class="online_bar collapse" id="onlineSort1">
                    <h2>
                        <a>在线客服</a></h2>
                    <div class="online_content overz" id="onlineType1">
                        <ul class="overz" style="height: 70px;">
                            <li style="margin-top: 10px;">
                                <script charset="utf-8" type="text/javascript" src="#"></script>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="online_w_bottom">
            </div>
        </div>
    </div>
</div>
<script charset="utf-8" type="text/javascript" src="#"></script>
<script type="text/javascript">
$(document).ready(
  function(){
    setInterval(countdown, 1000)
  });

  function countdown() {
    var minute = document.getElementById("minute");
    var second = document.getElementById("second");
    var newSeconds = parseInt(second.innerText) - 1;
    var newMinute = parseInt(minute.innerText);
    if (newSeconds == 0 && newMinute > 0) {
      newMinute -= 1;
      newSeconds = 60;
    }
    if (newSeconds == 0 && newMinute == 0) {
      location.reload();
    }
    if (!isNaN(newMinute)) {
      minute.innerHTML = newMinute;
    }
    if (!isNaN(newSeconds)) {
      second.innerHTML = newSeconds;
    }
  }
</script>>
</body>
</html>
