<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>游戏大厅</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'mainstyle', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'leaflet', 'data-turbolinks-track' => true %>
    <%= yield :head %>
    <%= csrf_meta_tags %>
</head>
    <body>
    <div class="mainmenu-wrapper">
      <div class="container">
        <div class="menuextras">
          <div class="extras">
            <ul>
              <li><i class="glyphicon glyphicon-user icon-white"></i>
              <%= link_to "#" do %>
              <b><%= @user.account %></b>
              <% end %>
              <li><i class="glyphicon glyphicon-usd icon-white"></i>
              <%= link_to "#" do %>
              <b><%= @user.coin %></b>
              <% end %>
              <li><%= link_to session_path(id:0), method: "delete" do%>
              <b>退出账号</b>
              <% end %>
              </li>
            </ul>
          </div>
        </div>
        <nav id="mainmenu" class="mainmenu">
        <ul>
        <li>
          <%= link_to "游戏大厅", main_index_path %>
        </li>
        <li>
          <%= link_to "投注记录", mainhistory_index_path %>
        </li>
        <li>
          <%= link_to "开奖记录", maingridgame_index_path %>
        </li>
      </ul>
    </nav>
    </div>
    </div>

    <%= yield %>

    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="footer-copyright">&copy; 2015 anyone. All rights reserved.</div>
          </div>
        </div>
      </div>
    </div>
    <script>
    <%= yield :script %>
    </script>
  </body>
</html>