<!DOCTYPE html>
<html>
<head>
  <title>后台管理</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'appbootstrap', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'sb-admin-2', 'data-turbolinks-eval' => true %>
  <%= javascript_include_tag 'metisMenu.min', 'data-turbolinks-eval' => true %>
  <%= yield :head %>
  <%= javascript_include_tag 'sb-admin-2', 'data-turbolinks-eval' => true %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
	<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">后台管理</a>
            </div>

            <ul class="nav navbar-top-links navbar-right">
		            <li class="dropdown">
			        <a class="dropdown-toggle" href="#">
			            <i class="fa glyphicon-bitcoin fa-fw"></i>$<%=@admin.coin%><i class="fa"></i>
			        </a>
				    </li>
	                <li class="dropdown">
	                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
	                        <i class="fa fa-user fa-fw"></i> <%=@admin.account%> <i class="fa fa-caret-down"></i>
	                    </a>
	                    <ul class="dropdown-menu dropdown-user">
	                        <li><%= link_to "管理主页", controller: 'task', action: 'index' %></li>
	                        <li class="divider"></li>
	                        	<li><%= link_to "退出账号", session_path(id:0), method: "delete" %></li>
	                        </li>
	                    </ul>
	                </li>
	            </ul>
	            <div class="navbar-default sidebar" role="navigation">
	                <div class="sidebar-nav navbar-collapse">
	                    <ul class="nav" id="side-menu">
	                    	<li>
	                    		<%= link_to '历史开奖', controller: 'gridgame', action: 'index' %>
	                    	</li>
	                    	<li>
	                    		<%= link_to '报表查询', controller: 'tracelogs', action: 'index' %>
	                    	</li>
	                    	<li>
	                            <a href="#"><i class="fa fa-sitemap fa-fw"></i>用户管理<span class="fa arrow"></span></a>
	                            <ul class="nav nav-second-level">
	                                <li>
	                                    <%= link_to '新增会员', controller: 'users', action: 'new' %>
	                                </li>
	                                <li>
	                                	<%= link_to '会员', controller: 'users', action: 'index' %>
	                                </li>
					            </ul>
	                        </li>
	                        <li>
	                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i>日志查询<span class="fa arrow"></span></a>
	                            <ul class="nav nav-second-level">
	                                <li>
	                                	<%= link_to '管理日志', controller: 'operlogs', action: 'index' %>
	                                </li>
	                                <li>
	                                	<%= link_to '登录日志', controller: 'loginlogs', action: 'index' %>
	                                </li>
	                            </ul>
	                        </li>
 	                        <li>
	                            <a href="#"><i class="fa fa-wrench fa-fw"></i>游戏配置<span class="fa arrow"></span></a>
	                            <ul class="nav nav-second-level">
	                                <li>
	                                	<% if @admin.level == 1 %>
	                                	<%= link_to '九宫格', controller: 'gridconfig', action: 'index' %>
	                                	<% end %>
	                                </li>
	                            </ul>
	                            <!-- /.nav-second-level -->
	                        </li>
	                    </ul>
	                </div>
	            </div>
	        </nav>
	        <div id="page-wrapper">
	        <%= yield %>
	        </div>
	        <!-- /#page-wrapper -->
	    </div>
	   	<script>
	    $(document).ready(function() {
	        $('#dataTables-example').DataTable({
	                responsive: true
	        });
	    });
	    <%= yield :script %>
	    </script>
	</body>
</html>
